<footer>
    <div class="container-fluid">
        <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12 logo-footer">
            <a class="logo-footer pull-left" href="#"><img
                    src="/css/images/logo-white.png" alt="LOGO"></a>
        </div>

        <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12 social-links-footer pull-right">

            <a href="#">
                <i class="fa fa-facebook "></i>
            </a>
            <a href="#">
                <i class="fa fa-twitter"></i>
            </a>
            <a href="#">
                <i class="fa fa-instagram"></i>
            </a>
            <a href="#">
                <i class="fa fa-envelope"></i>
            </a>
            <a href="#">
                <i class="fa fa-linkedin"></i>
            </a>
            <a href="#">
                <i class="fa fa-google-plus"></i>
            </a>
            <a href="#">
                <i class="fa fa-send"></i>
            </a>
        </div>

        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 copyright-footer">
            تمامی حقوق متعلق به <a class="motekhases-dot-com" href="http://google.com">متخصص‌دات‌کام</a> می‌باشد.
        </div>
    </div>
</footer>