<footer class="panel-footer">
  <div class="container-fluid">
    <div class="row">
      <div class="col-xs-offset-3 col-md-offset-1 col-xs-4 col-md-2">
        <a class="btn-link persian grey" style="visibility: hidden;">تماس با ما</a>
      </div>
      <div class="col-xs-3">
        <a class="btn-link persian grey" style="visibility: hidden;">درباره ما</a>
      </div>

      <!--<div class=" col-md-6 col-xs-12 "><img class="img-responsive center-block imglimit" src="../app/images/links.png"></div>-->
      <!--<div class=" col-md-6 col-xs-12 "><img class="img-responsive center-block imglimit" src="../app/images/telegram.png" style="width: 4%;"></div>-->

      <div class=" col-md-6 col-xs-12 " style="float: right; margin-top:5px;">
                <ul style="padding:0; margin:0 0 0 10px;">
        	          <li><a href="https://t.me/motekhases_team" target="_blank"><img class="img-responsive center-block imglimit" src="../app/images/telegram.png" style="width: 4%; float:right; list-style:none; margin-left:3px;"></a></li>
        	          <li><a href="https://www.instagram.com/motekhases.team" target="_blank"><img class="img-responsive center-block imglimit" src="../app/images/instagram.png" style="width: 4%; float: right;list-style:none; margin-left:3px;"></a></li>
        	          <li><a href="https://twitter.com/motekhases_team" target="_blank"><img class="img-responsive center-block imglimit" src="../app/images/twitter.png" style="width: 4%; float:right; list-style:none; margin-left:3px;"></a></li>
        	          <li><img class="img-responsive center-block imglimit" src="../app/images/linkedin.png" style="width: 4%; float: right; list-style:none; margin-left:3px;"></li>
        	          <li><a href="http://www.aparat.com/motekhases.com" target="_blank"><img class="img-responsive center-block imglimit" src="../app/images/aparat.png" style="width: 5%; float: right; list-style:none; margin-left:3px;"></a></li>
        	        </ul>
        	      </div>
      <div class="col-xs-12">
        <img src="../app/images/adamlogoo.png" class="footerlogo visible-lg visible-md">
        <p class="persian grey margin align">تمامی حقوق متعلق به وبسایت جاپ می باشد</p>
      </div>
    </div>
  </div>
</footer>
