
<body>
<!--<div class="container-fluid firstsec">-->
<navbar></navbar>
<!--<div class="container head">-->
  <!--<div class="row">-->
    <!--<div class="col-xs-12">-->
      <!--<p data-aos="zoom-in" data-aos-delay="0" dir="rtl" class="mainhead persian center-block">-->
        <!--به بزرگترین مرجع متخصصین ایرانی بپیوندید.-->
      <!--</p>-->
    <!--</div>-->
    <!--<div class="col-xs-12 headsm">-->
      <!--<h4 data-aos="zoom-in" data-aos-delay="500" dir="rtl" class="persian mainheadsm">از مدرس زبان و برنامه نویس تا مربی بدنسازی و نقاش ساختمان، به صورت <span style="color: #00b3ee">رایگان</span> ثبت نام کنید و کار بگیرید </h4>-->
    <!--</div>-->
    <!--<button class="btn btndesign persian aligncenter" ui-sref="signup">ثبت نام</button>-->
  <!--</div>-->
<!--</div>-->
<!--</div>-->
<p data-aos="zoom-in" data-aos-delay="0" dir="rtl" class="mainhead persian center-block">
  به بزرگترین مرجع متخصصین ایرانی بپیوندید.
</p>
<button class="btn btndesign persian aligncenter" ui-sref="signup">ثبت نام</button>


<div id="myCarousel" class="carousel slide" data-ride="carousel">
  <!-- Indicators -->
  <!--<ol class="carousel-indicators">-->
    <!--<li data-target="#myCarousel" data-slide-to="0" class="active"></li>-->
    <!--<li data-target="#myCarousel" data-slide-to="1"></li>-->
    <!--<li data-target="#myCarousel" data-slide-to="2"></li>-->
    <!--<li data-target="#myCarousel" data-slide-to="3"></li>-->
  <!--</ol>-->

  <!-- Wrapper for slides -->
  <div class="carousel-inner" role="listbox" >
    <div class="item active" style="max-height: 100vh">
      <!--<p data-aos="zoom-in" data-aos-delay="0" dir="rtl" class="mainhead persian center-block">-->
      <!--به بزرگترین مرجع متخصصین ایرانی بپیوندید.-->
      <!--</p>-->
      <img src="../app/images/1.jpg" alt="Chania" class="fullwidth">
      <h4 data-aos="zoom-in" data-aos-delay="500" dir="rtl" class="persian mainheadsm font15">از مدرس زبان و برنامه نویس تا مربی بدنسازی و نقاش ساختمان، به صورت <span style="color: #00b3ee">رایگان</span> ثبت نام کنید و کار بگیرید </h4>
    </div>

    <div class="item" style="max-height: 100vh">
      <img src="../app/images/2.jpg" alt="Chania" class="fullwidth">
      <!--<p data-aos="zoom-in" data-aos-delay="0" dir="rtl" class="mainhead persian center-block">-->
        <!--به بزرگترین مرجع متخصصین ایرانی بپیوندید.-->
      <!--</p>-->
      <h4 data-aos="zoom-in" data-aos-delay="500" dir="rtl" class="persian mainheadsm font15" >از مدرس زبان و برنامه نویس تا مربی بدنسازی و نقاش ساختمان، به صورت <span style="color: #00b3ee">رایگان</span> ثبت نام کنید و کار بگیرید </h4>
      <!--<button class="btn btndesign persian aligncenter" ui-sref="signup">ثبت نام</button>-->
    </div>

    <div class="item" style="max-height: 100vh">
      <img src="../app/images/3.jpg" alt="Flower" class="fullwidth">
      <!--<p data-aos="zoom-in" data-aos-delay="0" dir="rtl" class="mainhead persian center-block">-->
        <!--به بزرگترین مرجع متخصصین ایرانی بپیوندید.-->
      <!--</p>-->
      <h4 data-aos="zoom-in" data-aos-delay="500" dir="rtl" class="persian mainheadsm font15" >از مدرس زبان و برنامه نویس تا مربی بدنسازی و نقاش ساختمان، به صورت <span style="color: #00b3ee">رایگان</span> ثبت نام کنید و کار بگیرید </h4>
      <!--<button class="btn btndesign persian aligncenter" ui-sref="signup">ثبت نام</button>-->
    </div>

    <div class="item" style="max-height: 100vh">
      <img src="../app/images/4.jpg" alt="Flower" class="fullwidth">
      <!--<p data-aos="zoom-in" data-aos-delay="0" dir="rtl" class="mainhead persian center-block">-->
        <!--به بزرگترین مرجع متخصصین ایرانی بپیوندید.-->
      <!--</p>-->
      <h4 data-aos="zoom-in" data-aos-delay="500" dir="rtl" class="persian mainheadsm font15" >از مدرس زبان و برنامه نویس تا مربی بدنسازی و نقاش ساختمان، به صورت <span style="color: #00b3ee">رایگان</span> ثبت نام کنید و کار بگیرید </h4>
      <!--<button class="btn btndesign persian aligncenter" ui-sref="signup">ثبت نام</button>-->
    </div>
    <div class="item" style="max-height: 100vh">
      <img src="../app/images/5.jpg" alt="Flower" class="fullwidth">
      <!--<p data-aos="zoom-in" data-aos-delay="0" dir="rtl" class="mainhead persian center-block">-->
      <!--به بزرگترین مرجع متخصصین ایرانی بپیوندید.-->
      <!--</p>-->
      <h4 data-aos="zoom-in" data-aos-delay="500" dir="rtl" class="persian mainheadsm font15" >از مدرس زبان و برنامه نویس تا مربی بدنسازی و نقاش ساختمان، به صورت <span style="color: #00b3ee">رایگان</span> ثبت نام کنید و کار بگیرید </h4>
      <!--<button class="btn btndesign persian aligncenter" ui-sref="signup">ثبت نام</button>-->
    </div>
  </div>

  <!-- Left and right controls -->

</div>
<div class="container-fluid" id="how">
  <div class="row pad220" style="margin-bottom: 8%;">
    <h3 class="persian fontweight2 titrfont how_it_works" style="text-align: center;">چگونه کار می کند؟</h3>
    <div data-aos="zoom-in" data-aos-delay="500" class="col-md-4 col-xs-12 col-sm-12 margintop2 icons">
      <div class="thumbnail">

        <img src="../app/images/icontick.png" class="img-circle img-thumbnail" style="max-width: 122px;; margin-bottom: 30px;">
        <h4 class="text-center persian fontsizee fontweight2 alignIconhead">استخدام</h4>
        <p class="persian align wight400">        استخدام شوید و شانس خود را برای کارهای آتی افزایش دهید
        </p>
      </div>
    </div>

    <div data-aos="zoom-in" data-aos-delay="1000" class="col-md-4 col-xs-12 col-sm-12  margintop2 icons">
      <div class="thumbnail">

        <img src="../app/images/icon$.png" class="img-circle img-thumbnail" style="max-width: 122px;; margin-bottom: 30px;">
        <h4 class="text-center persian fontsizee fontweight2 alignIconhead">قیمت دهی</h4>
        <p class="persian align wight400">مناسب ترین مشتریان با شرایط خود را انتخاب کنید</p>
      </div>
    </div>
    <div data-aos="zoom-in" data-aos-delay="1500" class="col-md-4 col-xs-12 col-sm-12 margintop2">
      <div class="thumbnail">

        <img src="../app/images/iconmenu.png" class="img-circle img-thumbnail icons" style="max-width:122px;; margin-bottom: 30px;">
        <h4 class="text-center persian fontsizee fontweight2 alignIconhead">بررسی</h4>
        <p class="persian align wight400">لیست کامل مشتریان و خواسته دقیق آن ها را بررسی کنید</p>
      </div>
    </div>
  </div>
</div>
<!--<div class="container-fluid" style="background-color: #F7F7F9">-->
  <!--<div class="row">-->
    <!--<h3 class="persian fontweight2 titrfont" style="text-align: center;"> دسته بندی خدمات</h3>-->
    <!--<div class="col-md-3 col-xs-6"><div class="thumbnail" style="background-color: #F7F7F9 "><img src="../app/images/sport.png" class="img-thumbnail" style="max-width: 150px;"><h5 class="persian align fontweight2">ورزش و سلامت</h5></div> </div>-->
    <!--<div class="col-md-3 col-xs-6"><div class="thumbnail" style="background-color: #F7F7F9 "><img src="../app/images/art.png" class="img-thumbnail" style="max-width: 150px;"><h5 class="persian align fontweight2">خدمات هنری</h5></div> </div>-->
    <!--<div class="col-md-3 col-xs-6"><div class="thumbnail" style="background-color: #F7F7F9 "><img src="../app/images/teach.png" class="img-thumbnail" style="max-width: 150px;"><h5 class="persian align fontweight2">خدمات آموزشی</h5></div> </div>-->
    <!--<div class="col-md-3 col-xs-6"><div class="thumbnail" style="background-color: #F7F7F9 "><img src="../app/images/comp.png" class="img-thumbnail" style="max-width: 150px;"><h5 class="persian align fontweight2">خدمات کامپیوتری</h5></div> </div>-->
  <!--</div>-->
  <!--<div class="row">-->
    <!--<div class="col-md-3 col-xs-6 hidden-xs"><div class="thumbnail" style="background-color: #F7F7F9 "><img src="../app/images/more.png" class="img-thumbnail" style="max-width: 150px;"><h5 class="persian align fontweight2">سایر خدمات</h5></div> </div>-->
    <!--<div class="col-md-3 col-xs-6 hidden-xs"><div class="thumbnail" style="background-color: #F7F7F9 "><img src="../app/images/home.png" class="img-thumbnail" style="max-width: 150px;"><h5 class="persian align fontweight2">خدمات منزل</h5></div> </div>-->
    <!--<div class="col-md-3 col-xs-6"><div class="thumbnail" style="background-color: #F7F7F9 "><img src="../app/images/eng.png" class="img-thumbnail" style="max-width: 150px;"><h5 class="persian align fontweight2">زبان های خارجه</h5></div> </div>-->
    <!--<div class="col-md-3 col-xs-6"><div class="thumbnail" style="background-color: #F7F7F9 "><img src="../app/images/fani.png" class="img-thumbnail" style="max-width: 150px;"><h5 class="persian align fontweight2">خدمات فنی</h5></div> </div>-->
    <!--<div class="col-md-3 col-xs-6 visible-xs"><div class="thumbnail" style="background-color: #F7F7F9 "><img src="../app/images/more.png" class="img-thumbnail" style="max-width: 150px;"><h5 class="persian align fontweight2">سایر خدمات</h5></div> </div>-->
    <!--<div class="col-md-3 col-xs-6 visible-xs"><div class="thumbnail" style="background-color: #F7F7F9 "><img src="../app/images/home.png" class="img-thumbnail" style="max-width: 150px;"><h5 class="persian align fontweight2">خدمات منزل</h5></div> </div>-->
  <!--</div>-->
<!--</div>-->
<!--<h3 class="persian fontweight2 titrfont" style="    text-align: center;-->
    <!--width: 34%;-->
    <!--display: block;-->
    <!--margin-left: auto;-->
    <!--margin-right: auto;-->
    <!--border-radius: 5px;-->
    <!--color: white;-->
    <!--padding: 13px;-->
    <!--margin-bottom: 0;-->
    <!--background-color: #e3750e;">چرا متخصص؟</h3>-->
<div class="container-fluid" id="why">
  <div class="row backbluegradient rowdes"  >
    <div class="col-md-5">
      <img src="../app/images/mobile.png" alt="logoman" class="img-responsive imgDes2 visible-md visible-lg"/>
    </div>
    <div class="col-md-offset-4 col-md-8">
    <div class="col-md-6 col-xs-12">
      <li role="presentation" class="list-group-item limargin"><img data-aos="zoom-in" data-aos-delay="2000" class="img-responsive imgdes " src="../app/images/check.png"><h4 class="persian fontweight fontweight2 margin4 fontwhite fontlist lineheightm" style="text-align: right; ">ارتباط مستقیم و بدون واسطه با مشتریان</h4> </li>
      <li role="presentation" class="list-group-item limargin "><img data-aos="zoom-in" data-aos-delay="2500" class="img-responsive imgdes" src="../app/images/check.png"><h4 class="persian fontweight fontweight2 margin4 fontwhite fontlist lineheightm" style="text-align: right; ">ارزیابی عملکرد و رتبه بندی متخصصین</h4> </li>
      <li role="presentation" class="list-group-item limargin"><img data-aos="zoom-in" data-aos-delay="3000" class="img-responsive imgdes" src="../app/images/check.png"><h4 class="persian fontweight fontweight2 margin4 fontwhite fontlist lineheightm" style="text-align: right">قیمت دهی براساس خواسته دقیق مشتری</h4> </li>
    </div>
    <div class="col-md-6 col-xs-12">
      <ul class="list-group">
        <li role="presentation" class="list-group-item limargin"><img data-aos="zoom-in" data-aos-delay="500" class="img-responsive imgdes" src="../app/images/check.png"><h4 class="persian fontweight fontweight2 margin4 fontwhite fontlist lineheightm" style="text-align: right">دسترسی کامل به تمامی پروژه ها</h4> </li>
        <li role="presentation" class="list-group-item limargin"><img data-aos="zoom-in" data-aos-delay="1000" class="img-responsive imgdes" src="../app/images/check.png"><h4 class="persian fontweight fontweight2 margin4 fontwhite fontlist lineheightm" style="text-align: right">انتخاب مشتری مناسب با شرایط شما</h4> </li>
        <li role="presentation" class="list-group-item limargin"><img data-aos="zoom-in" data-aos-delay="1500" class="img-responsive imgdes" src="../app/images/check.png"><h4 class="persian fontweight fontweight2 margin4 fontwhite fontlist lineheightm" style="text-align: right">بدون گرفتن کمیسیون </h4> </li>
      </ul>
    </div>
    </div>
    <div class="row" style="margin-top: 2%;     margin-bottom: 19px;">
      <div class="col-md-offset-2 col-md-3 col-xs-12">
      </div>
      <div class="col-md-3 col-xs-12">
        <a href=""><img src="../app/images/apple.png" class="dlimg" style="max-width: 131px; margin-top: 12%;"></a>
        <a href=""><img src="../app/images/google.png" class="dlimg downloadlink" style="max-width: 131px; margin-top: 12%;"></a>
      </div>
    </div>
  </div>

</div>
<pagefooter></pagefooter>
<script type="text/javascript">
  jQuery(document).ready(function() {
    jQuery('.tp-banner').revolution(
      {
        delay:0000,
        startwidth:1170,
        startheight:500,
        hideThumbs:10
      });
  });
</script>
</body>
