<div class="about">
	<div class="hero hero--about">
		<div class="uk-animation-kenburns hero__back"></div>
		<!-- /.hero hero__back -->
		<div class="hero__front">
			<div class="hero__content">
				<div class="hero__text">
					<div class="hero__title">درباره ما</div>
					<!-- /.hero__title -->
				</div>
				<!-- /.hero__text -->
			</div>
			<!-- /.hero__content -->
		</div>
		<!-- /.hero__front -->
	</div>
	<!-- /.hero hero--about -->

	<div class="uk-container uk-container-small">
		<div>
			<p class='uk-margin-large-top uk-margin-large-bottom about__text'>هر گامی در اعتلای اقتصاد برداشته شود، رفاه اجتماعی را به همراه خواهد داشت. جامعه سالم در سایه اشتغال، دوام می یابد. این گام را هر چند کوچک، ما برداشتیم. فرزندان این سرزمین که خود برتافته از جمع شما و از برگزیدگان دانشگاه‌های معتبر این مرز و بومند، در قالب گروهی متخصص، برآنند که دستان خود را به دستان شما گره زده انبوهی از نیازها را با درایت و تخصص ویژه به همیاری یکدیگر سامان بخشند. شبکه متخصص دست می‌دهد، دست می‌گیرد و به دستان دیگر می‌سپارد. نگاه متخصص، نگاهبان کمال در فرآیند برآورده شدن نیازمندی‌های جامعه در تمامی زمینه‌های شغلی می‌باشد. متخصص، برآیند رشد و کمال جامعه و تخصص، خدمت بهینه شده آن است. به ما بپیوندید، پیوند با شما دوام ما و شما را تضمین می‌کند.</p>
		</div>
	</div>
	<!-- /.uk-container -->

	<div class='row'>

		<div class="col-md-10 col-md-offset-1 col-lg-8 col-lg-offset-2 text-center">
			<div class="team">
				<div data-column='3' class="at-grid">

					<div class="at-column visible-xs">
						<div class="at-user">
							<div class="at-user__avatar"><img src="./images/m.png" /></div>
							<div class="at-user__name persian"> میلاد شجاعی</div>
							<div class="at-user__title persian"> بنیان گذار و مدیر عامل</div>

						</div>
					</div>
					<div class="at-column hidden-xs">
						<div class="at-user">
							<div class="at-user__avatar"><img src="./images/h.png" /></div>
							<div class="at-user__name persian">هدی کرمانی </div>
							<div class="at-user__title persian" dir="rtl">طراح ui/ux</div>

						</div>
					</div>

					<div class="at-column">
						<div class="at-user">
							<div class="at-user__avatar"><img src="./images/a.png" /></div>
							<div class="at-user__name persian">امیرحسین صیحانی </div>
							<div class="at-user__title persian">مدیر فنی</div>

						</div>
					</div>

					<div class="at-column visible-xs">
						<div class="at-user">
							<div class="at-user__avatar"><img src="./images/h.png" /></div>
							<div class="at-user__name persian">هدی کرمانی </div>
							<div class="at-user__title persian" dir="rtl">طراح ui/ux</div>

						</div>
					</div>
					<div class="at-column hidden-xs">
						<div class="at-user">
							<div class="at-user__avatar"><img src="./images/m.png" /></div>
							<div class="at-user__name persian"> میلاد شجاعی</div>
							<div class="at-user__title persian"> بنیان گذار و مدیر عامل</div>

						</div>
					</div>
					<div class="at-column visible-xs">
						<div class="at-user">
							<div class="at-user__avatar"><img src="./images/me.png" /></div>
							<div class="at-user__name persian">مهرناز ثابت </div>
							<div class="at-user__title persian" dir="rtl">توسعه دهنده front-end</div>

						</div>
					</div>

					<div class="at-column visible-xs">
						<div class="at-user">
							<div class="at-user__avatar"><img src="./images/hoo.png" /></div>
							<div class="at-user__name persian"> هومن شریف زاده</div>
							<div class="at-user__title persian" dir="rtl">توسعه دهنده front-end</div>

						</div>
					</div>

					<div class="at-column">
						<div class="at-user">
							<div class="at-user__avatar"><img src="./images/sa.png" /></div>
							<div class="at-user__name persian"> سارا نقی زاده</div>
							<div class="at-user__title persian" dir="rtl">توسعه دهنده front-end</div>

						</div>
					</div>
					<div class="at-column hidden-xs">
						<div class="at-user">
							<div class="at-user__avatar"><img src="./images/hoo.png" /></div>
							<div class="at-user__name persian"> هومن شریف زاده</div>
							<div class="at-user__title persian" dir="rtl">توسعه دهنده front-end</div>

						</div>
					</div>
					<div class="at-column hidden-xs">
						<div class="at-user">
							<div class="at-user__avatar"><img src="./images/me.png" /></div>
							<div class="at-user__name persian">مهرناز ثابت </div>
							<div class="at-user__title persian" dir="rtl">توسعه دهنده front-end</div>

						</div>
					</div>

					<div class="at-column">
						<div class="at-user">
							<div class="at-user__avatar"><img src="./images/ho.png" /></div>
							<div class="at-user__name persian"> حسین بابایی</div>
							<div class="at-user__title persian" dir="rtl">توسعه دهنده back-end</div>

						</div>
					</div>

					<div class="at-column">
						<div class="at-user">
							<div class="at-user__avatar"><img src="./images/unknown.png" /></div>
							<div class="at-user__name persian">ماهان تفرشی پور</div>
							<div class="at-user__title persian" dir="rtl">توسعه دهنده back-end</div>

						</div>
					</div>

					<div class="at-column">
						<div class="at-user">
							<div class="at-user__avatar"><img src="./images/unknown.png" /></div>
							<div class="at-user__name persian">آبتین باطنی</div>
							<div class="at-user__title persian" dir="rtl">توسعه دهنده application</div>

						</div>
					</div>

					<div class="at-column">
						<div class="at-user">
							<div class="at-user__avatar"><img src="./images/unknown.png" /></div>
							<div class="at-user__name persian">سپهر حسینی</div>
							<div class="at-user__title persian" dir="rtl">توسعه دهنده front-end</div>

						</div>
					</div>

					<div class="at-column">
						<div class="at-user">
							<div class="at-user__avatar"><img src="./images/unknown.png" /></div>
							<div class="at-user__name persian">پریسا فنودی</div>
							<div class="at-user__title persian" dir="rtl">سرپرست پشتیبانی</div>

						</div>
					</div>
				</div>
			</div>
			<!-- /.col-md-10 col-lg-8 text-center -->
		</div>
	</div>
</div>
<!-- /.about -->