<div class="contact">
	<div class="hero hero--contact uk-overflow-hidden">
		<div class="hero__back uk-animation-kenburns"></div>
		<!-- /.hero__back -->
		<div class="hero__front">
			<div class="hero__content">
				<div class="hero__text">
					<div class='hero__title'>با ما در تماس باشید</div>
				</div>
				<!-- /.hero__text -->
			</div>
			<!-- /.hero__content -->
		</div>
		<!-- /.hero__front -->
	</div>
	<!-- /.hero hero--contact -->

	<div class="uk-container">

		<div class="uk-card uk-card-body uk-card-default uk-margin-top">
			<div class='contact__row'>
				<div class='contact__label'>
					<i class="fa fa-phone fa-fw fa-lg"></i> شماره تماس:
				</div>
				<div class='contact__text' dir="ltr"> +۹۸(۲۱)۸۸۲۲۳۵۴۱ </div>
			</div>

			<div class='contact__row'>
				<div class='contact__label'>
					<i class="fa fa-map-marker fa-fw fa-lg"></i> آدرس:
				</div>
				<div class='contact__text'>يوسف آباد - خيابان شهريار - كوچه ٢٠ ام - پلاك ٣٨</div>
			</div>

			<div class='contact__row'>
				<div class='contact__label'>
					<i class="fa fa-envelope-o fa-fw fa-lg"></i> پست الکترونیکی:
				</div>
				<div class='contact__text'>info@jopp.ir</div>
			</div>

		</div>
		<!-- /.uk-card -->

	</div>
	<!-- /.uk-container -->
</div>
<!-- /.contact -->