<div class="proficients">
	<div class="proficients__hero hero hero--proficients proficients__hero--{{Ctrl.cat._id}}">
		<div class='hero__back'></div>
		<div class='hero__front'>
			<div class='hero__content'>
				<div class='hero__text'>
					<div class='hero__title'>{{Ctrl.cat.category}}</div>
					<div class='hero__sub'>
						لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است.
						<div>
							<button type="button" class="c-btn c-btn--white"
							        ng-click="get_questions(Ctrl.cat._id)">ثبت پروژه
							</button>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- /.proficients__hero -->
	<div class='proficients__content'>

		<div class="uk-container">
			<div class='proficients__desc'>
				لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است.
			</div>

			<div class='proficients__heading'>برخی از متخصصین جاپ در این حوزه</div>

			<div class="proficients__list">
				<div uk-grid>
					<div class="uk-width-1-3" ng-repeat='proficient in Ctrl.proficients'>
						<div class="card">
							<div class="card__body">
								{{ proficient.firstname }}
							</div>
							<!-- /.card__body -->
						</div>
						<!-- /.card -->
					</div>
					<!-- /.uk-width-1-3@m -->
				</div>
			</div>
			<!-- /.proficients__list -->
		</div>
	</div>
	<!-- /.proficients__content -->
</div>
<!-- /.proficients -->
