<nav class="navbar navbar-fixed-top">
    <div class="container-fluid navbarpadding">
      <div class="navbar-header persian" style="color: white;">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
          <span class="icon-bar wback"></span>
          <span class="icon-bar wback"></span>
          <span class="icon-bar wback"></span>
        </button>

        <a class="navbar-brand visible-xs" ui-sref="home"><img alt="brand" class="img-responsive" src="../app/images/logowhite.png" style="max-width: 200px;"></a>

      </div>
      <div class="collapse navbar-collapse" id="myNavbar">
        <ul class="nav navbar-nav" style="text-align: right;">
            <li><a class="persian linkcolors fontweight2 fontsize" ng-click="gotoElement('how')"" >چگونه کار می کند؟</a></li>
            <li><a class="persian linkcolors fontweight2 fontsize" ui-sref="services"> خدمات</a></li>
            <a class="navbar-brand hidden-xs" ui-sref="home"><img alt="brand" class="img-responsive" src="../app/images/logowhite.png" style="max-width: 200px;"></a>
            <li><a class="persian linkcolors fontweight2 fontsize" ng-click="gotoElement('why')">چرا متخصص؟</a></li>
            <li><button class="btn persian linkcolors linkbtn fontweight2 fontsize" ui-sref="signup">ثبت نام</button> </li>
        </ul>
        </div>
    </div>
</nav>
<div>
</div>
