<navbar></navbar>
        <div class="categories " style="    margin-top: 10%;">

           <div class="row">
             <div class="col-xs-12" style="    padding-right: 5%;
    padding-left: 5%;">
               <div class="list-group">
                 <h3 class="list-group-item-heading text-center persian" style="    padding: 10px;     font-weight: 600;">مقررات عمومی</h3>
                 <div class="list-group-item padd35">
                   <p class="text-info persian" dir=rtl>
                     کلیه اصول و رویه‏‌های سایت متخصص منطبق با قوانین جمهوری اسلامی ایران، قانون تجارت الکترونیک و قانون حمایت از حقوق مصرف کننده است و متعاقبا کاربر نیز موظف به رعایت قوانین مرتبط با کاربر است. سایت متخصص حق اصلاح و تغییر شروط این توافقنامه را کلا یا جزئا داراست و باید شروط اصلاح شده یا تغییر یافته را از طریق وبگاه اعلام نماید. تغییرات ایجاد شده جز در خصوص اطلاعات مالی(تغییر در قیمت بسته های اعتباری) فورا اعمال می‌گردند. استفاده کاربران بعد از تاریخ موثر (تاریخ قابل اجرا) به معنی پذیرش هرگونه تغییرات است..
                   </p>
                 </div>
                 <div class="list-group-item padd35">
                   <p class="text-info persian" dir=rtl>
                     محتویات این وبگاه بر اساس " آنچه هست " و " آنچه موجود است " ارائه می شود، بدین معنا که سایت متخصص هیچ‌گونه تعهدی در خصوص محتوای پروفایل های مشتریان (دریافت کنندگان خدمات) و افراد متخصص (ارائه دهندگان خدمات) ، کارکردهای خاص آنها، قابل اعتماد بودن و مناسب بودن برای نیازهای کاربر نخواهد داشت.
                   </p>
                 </div>
                 <div class="list-group-item padd35">
                   <p class="text-info persian" dir=rtl>
                     سایت متخصص motekhases.com تنها وظیفة ایجاد ارتباط و معرفی افراد متخصص (ارائه دهندگان خدمت) و مشتریان ( دریافت کنندگان خدمت) را به عهده دارد و هرگونه بروز مشکل و خطا از سوی هر یک از طرفین پس از معرفی افراد به یکدیگر، مسئولیتی را متوجه وبسایت متخصص نمی‌کند. لذا در هنگام انتخاب فرد متخصص و یا مشتری مورد نظر، دقت لازم را حاصل نموده و تمامی تدابیر امنیتی را برای جلوگیری از بروز مشکل احتمالی پیش بینی نمایید.
                   </p>
                 </div>
                 <div class="list-group-item padd35">
                   <p class="text-info persian" dir=rtl>
                     شما می‌پذیرید مسئولیت تمامی خطرها و اتفاقاتی که ممکن است در نتیجه استفاده از سایت متخصص یا سایر سرویس مرتبط با سایت متخصص، برای شما به وجود بیاید به عهده شما است. سایت متخصص هیچ مسئولیتی در قبال مشکلاتی که ممکن است در نتیجه استفاده از سایت متخصص توسط یک کاربر، برای کاربران یا افراد دیگر ایجاد شود از جمله قصور در انجام خدمات از سوی متخصصان (ارائه دهندگان خدمت)، عدم ایفای تعهدات مالی از سوی مشتریان (دریافت کنندگان خدمت) ، یا صدمه‌هایی که به دارایی‌های افراد وارد می‌شود به عهده ندارد.
                   </p>
                 </div>
                 <div class="list-group-item padd35">
                   <p class="text-info persian" dir=rtl>
                     سایت متخصص هیچ تضمینی در خصوص کیفیت خدمات، زمان ارائه خدمات و تعهدات و ادعاهای طرفین ارائه نمی‌دهد.
                   </p>
                 </div>
                 <div class="list-group-item padd35">
                   <p class="text-info persian" dir=rtl>
                     خدمات که در سایت متخصص قرار می‌گیرند ممکن است با مشارکت خدمات شرکت‌های دیگری ارائه شود که سایت متخصص کنترلی روی آنها ندارد. در چنین شرایطی کاربر می‌پذیرد که این خدمات ، قوانین استفاده و مقررات مختص خود را دارند و سایت متخصص مسئولیتی در خصوص قوانین و خدمات این شرکت‌ها ندارد.                   </p>
                 </div>
                 <div class="list-group-item padd35">
                   <p class="text-info persian" dir=rtl>
                     افراد متخصص (ارائه دهندگان خدمات) و مشتریان (دریافت کنندگان خدمات) متعهد می‌گردند اطلاعات صحیح و کامل خود را در زمان ثبت نام و همچنین زمان استفاده وارد کنند. در هر صورت آگهی‌دهنده و نمایش‌دهنده به اطلاعات خود دسترسی دارند و می‌توانند اطلاعات ناقص یا نادرست خود را اصلاح نمایند. افراد متخصص (ارائه دهندگان خدمات) و مشتریان (دریافت کنندگان خدمات) باید اطلاعات ثبت نام را برای حفظ صحت و کامل بودن آنها بروز رسانی نمایند. همچنین متعهد می‌گردند که از ایمیل اشتباه (غیر از ایمیل ثبت شده و تایید شده در زمان ثبت نام) استفاده نمی‌کنند، هویت شخص یا اشخاص حقیقی و حقوقی دیگر را جعل نمی‌کنند یا به هر نحوی هویت اصلی خود را مخفی نمی‌کنند.                 </div>
                 <div class="list-group-item ">
                   <p class="text-info persian" dir=rtl>
                     سایت متخصص برای تسهیل دسترسی مشتریان (دریافت کنندگان خدمات) و افراد متخصص (ارائه دهندگان خدمات)  پیوندهایی را به وبگاه‌های دیگر ایجاد نموده است. به منظور اتصال به این وبگاه‌ها لازم است ابتدا شرایط استفاده از آن را مطالعه شود سایت متخصص در قبال محتوای موجود در این وبگاه‌ها هیچ‌ گونه مسئولیتی ندارد. ضمن اینکه پیوند به این وبگاه‌ها به معنای تایید محتوا، محصولات و خدمات موجود در این وبگاه‌ها و یا هر نوع ارتباط با اداره‌کنندگان آنها نمی‌باشد.                 </div>
                 <div class="list-group-item padd35">
                   <p class="text-info persian" dir=rtl>
                     بخش پشتیبانی سایت متخصص سرویسی اضافی جهت کمک به مشتریان (دریافت کنندگان خدمات) و افراد متخصص (ارائه دهندگان خدمات)   بوده و صرفا در خصوص مسائل فنی مربوط به وبگاه راهنمایی‌های لازم را بعمل می‌آورد و هیچ‌گونه تعهدی نسبت به سرعت پاسخگویی یا عدم پاسخگویی به سوالات و امثال آن به علت حجم بالای تماس‌ها ندارد.
                 </div>
                 <div class="list-group-item padd35">
                   <p class="text-info persian" dir=rtl>
                     سایت متخصص عدم بروز اشکال یا قطعی را در صفحات اینترنتی این وبگاه تضمین نمی‌نماید. مشتریان (دریافت کنندگان خدمات) و افراد متخصص (ارائه دهندگان خدمات)  بدین وسیله موافقت می‌نماید که در صورت بروز مشکل در استفاده از خدمات وبگاه، مسئولیتی متوجه سایت متخصص نمی‌باشد.                 </div>
                 <div class="list-group-item padd35">
                   <p class="text-info persian" dir=rtl>
                     مشتریان (دریافت کنندگان خدمات) و افراد متخصص (ارائه دهندگان خدمات)  باید از اهلیت قانونی لازم برای انعقاد این توافقنامه برخوردار باشند. چنانچه به نمایندگی از یک شخص حقوقی به عنوان مشتری(دریافت کننده خدمات) و فرد متخصص (ارائه دهنده خدمات) این توافقنامه را منعقد می‌نماید، دارای اختیارات قانونی لازم برای انعقاد این توافقنامه است و تضمین می‌کند هیچ شخصی اعم از حقیقی و حقوقی ادعایی در این خصوص نخواهد داشت.                 </div>
                 <div class="list-group-item padd35">
                   <p class="text-info persian" dir=rtl>
                     این مستند به عنوان راهنمای استفاده درست از سایت متخصص نوشته شده است، و می‌بایست تحت هر شرایطی از آن پیروی شود. نقض این قوانین می تواند منجر به مسدود شدن حساب شما و یا جبران خسارات مالی شود. در صورت وجود هر سوالی می‌توانید با بخش پشتیبانی تماس بگیرید. همکاران ما به همه سئوالات شما پاسخ می دهند تا هر گونه نگرانی که ممکن است برای شما ایجاد شود را از بین ببریم.                 </div>

               </div>

               <div class="list-group">
                 <h3 class="list-group-item-heading text-center persian" style="    font-weight: 600;">شرایط سایت
                 </h3>
                 <div class="list-group-item padd35">
                   <p class="text-info persian" dir=rtl>
                     سایت متخصص تنها متعهد به وعده‌های صریح و آشکاری است که در این توافقنامه داده‌ است و در قبال برداشت‌های ضمنی از توافقنامه هیچ تعهد و مسئولیتی ندارد.                   </p>
                 </div>
                 <div class="list-group-item  padd35">
                   <p class="text-info persian" dir=rtl>
                     وبسایت متخصص تمام تلاش خود را در راستای دسترسی بدون وقفه کاربران به سایت انجام می‌دهد و همچنین در تلاش است که ایراد و مشکلات سایت از بین رفته و سایت عاری از هرگونه ویروس و نرم افزار مخرب باشد، ولی تضمین هیچکدام از این موارد در حیطة کنترل وب سایت متخصص نخواهد بود.                   </p>
                 </div>
                 <div class="list-group-item padd35">
                   <p class="text-info persian" dir=rtl>
                     سایت متخصص می‌تواند در هر زمانی شرایط توافقنامه را تغییر دهد، اما تمام تلاش سایت بر این است که اطلاعات مربوط به تغییرات را در وبسایت منتشر کرده یا با ایمیل به شما اطلاع دهد. اگر بعد از تغییر شرایط توافقنامه همچنان به استفاده از وبسایت ادامه دهید، به معنی آن است که شرایط جدید یا اصلاح‌شده را پذیرفته‌اید.                   </p>
                 </div>
                 <div class="list-group-item padd35">
                   <p class="text-info persian" dir=rtl>
                     وبسایت متخصص از داخل ایران اداره می‌شود. در نتیجه قوانین جمهوری اسلامی ایران نافذ هستند و سایت متخصص از قوانین و مقررات ایران پیروی می‌کند و تحت نظام قضایی ایران عمل خواهد کرد. هر گونه قانونی که به‌شکل اجتناب‌ناپذیر و رد ناشدنی در موردی و موضوعی وارد باشد و صدق کند، در آن زمینه قانون نافذ محسوب خواهد شد.                   </p>
                 </div>

               </div>



               <div class="list-group">
                 <h4 class="list-group-item-heading text-right persian">شما می پذیرید که:
                 </h4>
                 <div class="list-group-item padd35">
                   <p class="text-info persian" dir=rtl>
                     شئونات اخلاقی را حفظ کرده و با صداقت رفتار میکنید.
                 </div>
                 <div class="list-group-item padd35">
                   <p class="text-info persian" dir=rtl>
                     معلومات، اعتبارنامه‌ها و تخصص لازم، شامل تحصیلات، تعلیمات، دانش، و مهارت‌های مربوطه را برای ارائه خدمات مورد نظر از طریق سایت و محصولات آن را دارا هستید؛
                 </div>
                 <div class="list-group-item padd35">
                   <p class="text-info persian" dir=rtl>
                     با همه سیاست‌های سایت موافق هستید؛
                 </div>
                 <div class="list-group-item padd35">
                   <p class="text-info persian" dir=rtl>
                     به حقوق همه کاربران احترام خواهید گذاشت؛
                 </div>
                 <div class="list-group-item padd35">
                   <p class="text-info persian" dir=rtl>
                     از اطلاعات محرمانه سوء استفاده نمیکنید و در هر گونه عمل غیر قانونی شرکت نخواهید کرد؛
                 </div>
                 <div class="list-group-item padd35">
                   <p class="text-info persian" dir=rtl>
                     منافع، حقوق و امنیت کاربران را در نظر بگیرید؛
                 </div>
                 <div class="list-group-item padd35">
                   <p class="text-info persian" dir=rtl>
                      به کسی آزار نرسانید یا تبعیض قائل نشوید؛
                 </div>
                 <div class="list-group-item padd35">
                   <p class="text-info persian" dir=rtl>
                     هویت خود و یا هر هویت دیگری را جعل نکرده و اطلاعات درست و صحیح ارائه داده اید؛
                 </div>
                 <div class="list-group-item padd35">
                   <p class="text-info persian" dir=rtl>
                      هر گونه نقض قوانین را گزارش کنید؛
                 </div>
                 <div class="list-group-item padd35">
                   <p class="text-info persian" dir=rtl>
                     چندین حساب کاربری ایجاد نخواهید کرد؛
                 </div>

                 <div class="list-group-item padd35">
                   <p class="text-info persian" dir=rtl>
                     شما مسئول تمامی محتواهایی هستم که در سایت متخصص ارسال میکنید:
                 </div>


               </div>


               <div class="list-group">
                 <h4 class="list-group-item-heading text-right persian">همچنین شما می‌پذیرید که از اقدامات زیر اجتناب نمایید:

                 </h4>
                 <div class="list-group-item padd35">
                   <p class="text-info persian" dir=rtl>
                     ارسال محتوایی که قوانین کپی رایت و یا دیگر حقوق مالکیت معنوی را نقض کند؛
                 </div>
                 <div class="list-group-item padd35">
                   <p class="text-info persian" dir=rtl>
                     ارسال محتوایی که هر قانون یا مقرراتی را نقض کند ؛
                 </div>
                 <div class="list-group-item padd35">
                   <p class="text-info persian" dir=rtl>
                     ارسال محتوای توهین آمیز؛
                 </div>
                 <div class="list-group-item padd35">
                   <p class="text-info persian" dir=rtl>
                     ارسال محتوایی که حاوی مطالب غیر اخلاقی و غیر اسلامی باشد؛
                 </div>
                 <div class="list-group-item padd35">
                   <p class="text-info persian" dir=rtl>
                     ارسال محتوایی که شامل اطلاعات ناقص، غلط یا نادرست باشد؛
                 </div>
                 <div class="list-group-item padd35">
                   <p class="text-info persian" dir=rtl>
                     ارسال محتوایی که شامل هر گونه ویروس و یا برنامه ‌هایی که برای صدمه زدن به هر سیستم نوشته شده باشد؛
                 </div>
                 <div class="list-group-item padd35">
                   <p class="text-info persian" dir=rtl>
                     ارسال محتوایی که برای سایت متخصص ایجاد مسئولیت کند و یا به کسب و کار و یا شهرت آن آسیب برساند؛
                 </div>
                 <div class="list-group-item padd35">
                   <p class="text-info persian" dir=rtl>
                     تجاوز به حقوق قانونی و حریم خصوصی دیگران؛
                 </div>
                 <div class="list-group-item padd35">
                   <p class="text-info persian" dir=rtl>
                     اقدام به اعمالی که سبب خسارت به دیگران شود یا موجبات ورود ضرر به دیگران را فراهم آورد؛
                 </div>
                 <div class="list-group-item padd35">
                   <p class="text-info persian" dir=rtl>
                     برهم زدن اخلاق حسنه و نظم عمومی با استفاده از اطلاعات وبگاه؛
                 </div>

                 <div class="list-group-item padd35">
                   <p class="text-info persian" dir=rtl>
                     اقدام به اعمالی که مطابق قانون مجازات اسلامی، قانون جرائم رایانه ای، قانون تجارت الکترونیک و سایر قوانین موضوعه مربوطه رفتار یا عمل مجرمانه تلقی می‌گردد؛
                 </div>
                 <div class="list-group-item padd35">
                   <p class="text-info persian" dir=rtl>
                     هر نوع فعالیت دیگری که از نظر وبگاه متخصص یا ارگان های مرتبط نامناسب پنداشته شود؛
                 </div>
                 <div class="list-group-item padd35">
                   <p class="text-info persian" dir=rtl>
                     استفاده از مطالب دارای کپی رایت بدون اجازه‏ی صاحب اثر؛
                 </div>
                 <div class="list-group-item padd35">
                   <p class="text-info persian" dir=rtl>
                     تلاش برای نفوذ به وبگاه و یا تخریب اطلاعات موجود در وبگاه ( هک کردن) و همچنین انتقال ویروس یا هرگونه نرم افزار دیگر با ماهیت مخرب با استفاده از ابزارهای ارتباطی وبگاه؛
                 </div>
                 <div class="list-group-item padd35">
                   <p class="text-info persian" dir=rtl>
                     ارائه مطالبی که تلویحا یا تصریحا شامل مفاهیمی استهزاء کننده، تحقیر کننده یا توهین‌آمیز نسبت به هر نژاد، قوم، مذهب، ملیت و جنسیت باشد؛
                 </div>
                 <div class="list-group-item padd35">
                   <p class="text-info persian" dir=rtl>
                     ارائه مطالبی که بطور مستقیم یا غیرمستقیم فعالیت‌های غیرقانونی و غیراخلاقی نظیر پورنوگرافی، تصاویر مروج فساد و مطالب خارج از نزاکت و برخلاف عفت عمومی را ترویج نماید؛
                 </div>
                 <div class="list-group-item padd35">
                   <p class="text-info persian" dir=rtl>
                     ارائه مطالبی از قول منابع علمی، بدون این که از سوی منابع موثق علمی تایید شده باشد؛
                 </div>
                 <div class="list-group-item padd35">
                   <p class="text-info persian" dir=rtl>
                     ارائه مطالبی که حاوی ادعاهای غیرقابل اثبات و مطالب گمراه کننده باشد.
                 </div>

               </div>


               <div class="list-group padd35">
                 <h5 class="list-group-item-heading text-center persian">حقوق مالکیت فکری

                 </h5>
                 <div class="list-group-item padd35">
                   <p class="text-info persian" dir=rtl>
                     تمام محتویات وبسایت متخصص از قبیل متون، گرافیک، تصاویر، علائم تجاری، لوگو، صدا، تصویر، قالب سایت، اسکریپت-هاو اسامی خدمات قابل ارائه و... متعلق به وب سایت متخصص motekhases.com می‌باشد و مشمول حمایت‌های مقرر در قوانین مالکیت فکری داخلی و بین‌المللی می‌باشد. همچنین هیچ یک از محتویات سایت متخصص قابل تولید مجدد، کپی برداری، فروش یا هر نحو سوء استفاده برای مقاصد تجاری و غیرتجاری نمی‌باشد. هرگونه استفاده بدون کسب مجوز کتبی حق پیگرد قانونی را برای وب سایت متخصص motekhases.com محفوظ می‌دارد.                 </div>


               </div>


               <div class="list-group">
                 <h5 class="list-group-item-heading text-center persian">حل اختلاف


                 </h5>
                 <div class="list-group-item padd35">
                   <div class="list-group-item padd35">
                   <p class="text-info persian padd35" dir=rtl>
                     این توافقنامه طبق قوانین و مقررات جمهوری اسلامی ایران تنظیم شده است. هر گونه اختلاف راجع به آن از جمله انعقاد، اعتبار، تفسیر، فسخ، نقض و اجرای آن برای داوری به شورای انتظامی سازمان نظام صنفی رایانه‌ای استان ارجاع می‌شود. نظر شورای انتظامی استان قطعی‌ و لازم‌الاجراست. شرط داوری حاضر موافقتنامه‌ای مستقل از قرارداد اصلی تلقی می‌شود و در هر حال قابل اجراست.
                   </p>
                   </div>
               </div>

             </div>
               <div class="list-group">

                 <div class="list-group-item padd35">
                   <p class="text-info persian" dir=rtl>
                     لازم به ذکر مجدد است، سایت متخصص motekhases.com تنها وظیفة ایجاد ارتباط و معرفی افراد متخصص (ارائه دهندگان خدمت) و مشتریان ( دریافت کنندگان خدمت) را به عهده دارد و هرگونه بروز مشکل و خطا از سوی هر یک از طرفین پس از معرفی افراد به یکدیگر، بر عهدة سایت متخصص نمی باشد. لذا در هنگام انتخاب فرد متخصص و یا مشتری مورد نظر، دقت لازم را حاصل نموده و تمامی تدابیر امنیتی را برای جلوگیری از بروز مشکل احتمالی پیش بینی نمایید.
</p>
               </div>
                 <div class="list-group-item padd35">
                   <p class="text-info persian" dir=rtl>
                     با توجه به پاراگراف بالا، هرگونه ایجاد اختلاف از قبیل؛ قصور در انجام خدمات از سوی متخصصان (ارائه دهندگان خدمت)، عدم ایفای تعهدات مالی از سوی مشتریان (دریافت کنندگان خدمت) ، یا صدمه‌هایی که به دارایی‌های افراد وارد می‌شود و هرگونه خطا و اشتباه در تعاملات فی مابین افراد متخصص (ارائه دهندگان خدمت) و مشتریان ( دریافت کنندگان خدمت) بر عهدة سایت متخصص نبوده و مسئولیتی متوجه وبسایت متخصص نخواهد بود.                   </p>
                 </div>
                 <div class="list-group-item padd35">
                   <p class="text-info persian" dir=rtl>
                     از اینکه قوانین سایت را مطالعه کردید متشکریم؛ تمام تلاش وبسایت متخصص ایجاد بستری امن برای کاربران سایت می‌باشد، امیدواریم شما هم در راستای نیل به این هدف به ما کمک نمایید. هرگونه پرسشی یا پیشنهادی در مورد قوانین و مقررات سایت را میتوانید از طریق بخش پشتیبانی سایت به ما اطلاع دهید.                   </p>
                 </div>
           </div>

        </div>
<pagefooter></pagefooter>
