<navbar></navbar>
        <div class="categories margi">

            <div class="task">
                <div class="gp-title persian para"><p>کسب و کار</p></div>
                <div class="subtasks row">
                        <ul class=" col-xs-12 col-md-4 persian">
                            <li>بازاریابی</li>
                            <li>برنامه نویس</li>
                            <li>تبلیغات</li>
                            <li>تحلیل گر آماری</li>
                            <li>حسابدار</li>
                            <li>مدیر منابع انسانی</li>
                            <li style="color:white">.</li>
                        </ul>
                        <ul class="col-xs-12 col-md-4 persian">
                            <li>پرستار</li>
                            <li>پزشک عمومی</li>
                            <li>دامپزشک</li>
                            <li>روانشناس</li>
                            <li>حقوق دان</li>
                            <li style="color:white">.</li>
                            <li style="color:white">.</li>
                        </ul>
                        <ul class="col-xs-12 col-md-4 persian">
                            <li>آشپز</li>
                            <li>آرایشگر</li>
                            <li>بادی گارد</li>
                            <li>تابلو ساز</li>
                            <li>خیاط</li>
                            <li>راننده</li>
                            <li>مکانیک</li>
                        </ul>
                </div>
            </div>

            <div class="task">
                <div class="gp-title persian para"><p>خدمات منزل</p></div>
                <div class="subtasks row">
                        <ul class="col-xs-12 col-md-4 persian">
                            <li>اسباب کشی</li>
                            <li>خیاطی</li>
                            <li>طراحی داخلی</li>
                            <li>نظافت خانه</li>
                        </ul>
                        <ul class="col-xs-12 col-md-4 persian">
                            <li>شستشوی ظرف</li>
                            <li>شستشوی فرش</li>
                            <li>لوله کشی</li>
                            <li>نقاشی ساختمان</li>
                        </ul>
                        <ul class="col-xs-12 col-md-4 persian">
                            <li>باغبانی</li>
                            <li>برق کاری</li>
                            <li>نجاری</li>
                            <li style="color:white">.</li>
                        </ul>
                </div>
            </div>

            <div class="task">
                <div class="gp-title persian para"><p>خدمات آموزشی</p></div>
                <div class="subtasks row">
                        <ul class="col-xs-12 col-md-4 persian">
                            <li>دروس کنکور</li>
                            <li>حسابداری</li>
                            <li>کامپیوتر</li>
                            <li>زبان انگلیسی</li>
                            <li>زبان فرانسه</li>
                            <li>زبان آلمانی</li>
                            <li>زبان عربی</li>
                            <li>زبان روسی</li>
                            <li>زبان ایتالیایی</li>
                        </ul>
                        <ul class="col-xs-12 col-md-4 persian">
                            <li>نوازندگی گیتار</li>
                            <li>نوازندگی پیانو</li>
                            <li>نوازندگی سنتور</li>
                            <li>نوازندگی تار و سه تار</li>
                            <li>نوازندگی ویلن</li>
                            <li>آواز و خوانندگی</li>
                            <li style="color:white">.</li>
                            <li style="color:white">.</li>
                            <li style="color:white">.</li>

                        </ul>
                        <ul class="col-xs-12 col-md-4 persian">
                            <li>نقاشی و طراحی</li>
                            <li>عکاسی و فیلم برداری</li>
                            <li>خیاطی</li>
                            <li>خطاطی</li>
                            <li style="color:white">.</li>
                            <li style="color:white">.</li>
                            <li style="color:white">.</li>
                            <li style="color:white">.</li>
                            <li style="color:white">.</li>
                        </ul>
                </div>
            </div>

            <div class="task">
                <div class="gp-title persian para"><p>خدمات کامپیوتر و وب سایت</p></div>
                <div class="subtasks row">
                        <ul class="col-xs-12 col-md-4 persian">
                            <li>طراحی سه بعدی</li>
                            <li>انیمیشن</li>
                            <li>توسعه نرم افزاری</li>
                            <li></li>
                        </ul>
                        <ul class="col-xs-12 col-md-4 persian">
                            <li>طراحی لوگو</li>
                            <li>طراحی سایت</li>
                            <li>توسعه سایت</li>
                            <li></li>
                        </ul>
                        <ul class="col-xs-12 col-md-4 persian">
                            <li>توسعه نرم افزارهای موبایل</li>
                            <li>طراحی و آماده سازی ارائه</li>
                            <li style="color:white">.</li>
                            <li></li>
                        </ul>
                </div>
            </div>

            <div class="last-task">
                <div class="gp-title persian para"><p>مهمانی و مراسم ویژه</p></div>
                <div class="subtasks row">
                        <ul class="col-xs-12 col-md-4 persian">
                            <li>آماده سازی غذا</li>
                            <li>آماده سازی محل</li>
                            <li>پذییرایی در مراسم</li>
                        </ul>
                        <ul class="col-xs-12 col-md-4 persian">
                           <li>عکاسی و فیلم برداری مراسم</li>
                            <li>گریم و آرایش</li>
                            <li>تهیه لباس</li>

                        </ul>
                        <ul class="col-xs-12 col-md-4 persian">
                            <li>موسیقی</li>
                            <li>سرگرمی</li>
                            <li style="color:white">.</li>
                        </ul>
                </div>
            </div>

        </div>
<pagefooter></pagefooter>
