
<div class="container-fluid" data-ng-controller="welcome">
  <div class="row center-block">
    <div class="col-xs-12" style="margin-bottom: 16%; margin-top:16%;">
      <img src="../app/images/logo-new-blue-black.png" class="img-responsive aligncenter logo-size" style="    margin-bottom: 11%;
    margin-top: -8%;">
      <h1 class="persian align fontweight greeting" dir="rtl" >{{firstname}} عزیز به جاپ خوش آمدی.</h1>
      {{user.selected_profession}}
      <h4 class="persian align fontweight2" dir="rtl" style="line-height: 30px;">به زودی سایت برای عموم در دسترس قرار می گیرید و شما می توانید روزانه به چندین پروژه دسترسی پیدا کنید، تا آن زمان اخبار ما را در شبکه های اجتماعی دنبال کنید</h4>
      <img class="img-responsive center-block" src="../app/images/linksB.png" style="    margin-top: 5%;
    max-width: 238px;">
    </div>
  </div>
</div>
