<div class="container">
	<div class="howitworks">
		<div class="row">
			<div class="col-12">
				<h4 class="howitworks__heading">چگونه کار می کند</h4>
				<!-- /.howitworks_heading -->
			</div>
			<!-- /.col-12 -->
		</div>
		<!-- /.row -->
		<div class="row">
			<div class="col-md-4">
				<div class="howitworks__item">
					<div class="howitworks__icon">
						<i class="icon-circle icon--back"></i>
						<i class="icon-list icon--front"></i>
					</div>
					<!-- /.howitworks__icon -->
					<div class="howitworks__text">
						<div class="howitworks__title">ثبت رایگان پروژه</div>
						<!-- /.howitworks__title -->
						<div class="howitworks__desc">در ابتدا مشخص کنید به چه متخصصی نیاز دارید و به سوالات ما پاسخ دهید</div>
						<!-- /.howitworks__desc -->
					</div>
					<!-- /.howitworks__text -->
				</div>
				<!-- /.howitworks__item -->
			</div>
			<!-- /.col-md-4 -->
			<div class="col-md-4">
				<div class="howitworks__item">
					<div class="howitworks__icon">
						<i class="icon-circle icon--back"></i>
						<i class="icon-people icon--front"></i>
					</div>
					<!-- /.howitworks__icon -->
					<div class="howitworks__text">
						<div class="howitworks__title">بررسی و مقایسه</div>
						<!-- /.howitworks__title -->
						<div class="howitworks__desc">در عرض چند ساعت چندین پیشنهاد قیمت از متخصصین دریافت می کنید</div>
						<!-- /.howitworks__desc -->
					</div>
					<!-- /.howitworks__text -->
				</div>
				<!-- /.howitworks__item -->
			</div>
			<!-- /.col-md-4 -->
			<div class="col-md-4">
				<div class="howitworks__item">
					<div class="howitworks__icon">
						<i class="icon-circle icon--back"></i>
						<i class="icon-check icon--front"></i>
					</div>
					<!-- /.howitworks__icon -->
					<div class="howitworks__text">
						<div class="howitworks__title">انتخاب</div>
						<!-- /.howitworks__title -->
						<div class="howitworks__desc">پس از بررسی قیمت, پروفایل, درصد اطمینان و ... , فرد مناسب را انتخاب کنید</div>
						<!-- /.howitworks__desc -->
					</div>
					<!-- /.howitworks__text -->
				</div>
				<!-- /.howitworks__item -->
			</div>
			<!-- /.col-md-4 -->
		</div>
		<!-- /.row -->
	</div>
	<!-- /.howitworks -->
</div>
<!-- /.container -->
