<div class="cat cat--hero">
	<ul class='cat__list owl-carousel owl-rtl' dir='rtl'>
		<li class="cat__item">
			<a href='home' class="cat__link">
				<div class="cat__icon"><i class="icon-art"></i></div>
				<!-- /.cat__icon -->
				<div class="cat__label">خدمات هنری</div>
				<!-- /.cat__label -->
			</a>
		</li>
		<!-- /.cat__item -->
		<li class="cat__item">
			<a href='home' class="cat__link">
				<div class="cat__icon"><i class="icon-sport"></i></div>
				<!-- /.cat__icon -->
				<div class="cat__label">ورزش و سلامت</div>
				<!-- /.cat__label -->
			</a>
		</li>
		<!-- /.cat__item -->
		<li class="cat__item">
			<a href='home' class="cat__link">
				<div class="cat__icon"><i class="icon-house"></i></div>
				<!-- /.cat__icon -->
				<div class="cat__label">خدمات منزل</div>
				<!-- /.cat__label -->
			</a>
		</li>
		<!-- /.cat__item -->
		<li class="cat__item">
			<a href='home' class="cat__link">
				<div class="cat__icon"><i class="icon-educate"></i></div>
				<!-- /.cat__icon -->
				<div class="cat__label">خدمات آموزشی</div>
				<!-- /.cat__label -->
			</a>
		</li>
		<!-- /.cat__item -->
		<li class="cat__item">
			<a href='home' class="cat__link">
				<div class="cat__icon"><i class="icon-tech"></i></div>
				<!-- /.cat__icon -->
				<div class="cat__label">فنی و مهندسی فنی و مهندسی </div>
				<!-- /.cat__label -->
			</a>
		</li>
		<!-- /.cat__item -->
		<li class="cat__item">
			<a href='home' class="cat__link">
				<div class="cat__icon"><i class="icon-computer"></i></div>
				<!-- /.cat__icon -->
				<div class="cat__label">خدمات کامپیوتری</div>
				<!-- /.cat__label -->
			</a>
		</li>
		<!-- /.cat__item -->
		<li class="cat__item">
			<a href='home' class="cat__link">
				<div class="cat__icon"><i class="icon-job"></i></div>
				<!-- /.cat__icon -->
				<div class="cat__label">کسب و کار</div>
				<!-- /.cat__label -->
			</a>
		</li>
		<!-- /.cat__item -->
		<li class="cat__item">
			<a href='home' class="cat__link">
				<div class="cat__icon"><i class="icon-lang"></i></div>
				<!-- /.cat__icon -->
				<div class="cat__label">زبان های خارجه</div>
				<!-- /.cat__label -->
			</a>
		</li>
		<!-- /.cat__item -->
		<li class="cat__item">
			<a href='home' class="cat__link">
				<div class="cat__icon"><i class="icon-other"></i></div>
				<!-- /.cat__icon -->
				<div class="cat__label">سایر</div>
				<!-- /.cat__label -->
			</a>
		</li>
		<!-- /.cat__item -->
	</ul>
</div>
<!-- /.hero__cat -->
