<footer class='footer'>
	<div class="container-fluid">
		<div class="row align-items-start">
			<div class="col-md-4 footer__col order-2 order-md-1">
				<div class="social social--footer">
					<a href="#" class="social__link"><i class="fa fa-youtube-play fa-2x"></i></a>
					<a href="#" class="social__link"><i class="fa fa-facebook fa-2x"></i></a>
					<a href="#" class="social__link"><i class="fa fa-instagram fa-2x"></i></a>
					<a href="#" class="social__link"><i class="fa fa-linkedin fa-2x"></i></a>
					<a href="#" class="social__link"><i class="fa fa-twitter fa-2x"></i></a>
				</div>
				<!-- /.social -->
			</div>
			<!-- /.col-md-4 -->
			<div class="col-md-4 footer__col order-3 order-md-2">
				<div class="copyright">
					<div class="copyright__logo"><img src="assets/images/footer/logo.png" alt="متخصص" /></div>
					<!-- /.copyright__logo -->
					<div class="copyright__text">تمامی حقوق متعلق به متخصص دات کام می باشد</div>
					<!-- /.copyright__text -->
				</div>
				<!-- /.copyright -->
			</div>
			<!-- /.col-md-4 -->
			<div class="col-md-4 footer__col order-1 order-md-3">
				<div class="contact">
					<a href="#" class="contact__link">تماس با ما</a>
					<a href="#" class="contact__link">درباره ما</a>
				</div>
				<!-- /.contact -->
			</div>
			<!-- /.col-md-4 -->
		</div>
		<!-- /.row -->
	</div>
	<!-- /.container-fluid -->
</footer>
