<div class="features">
	<div class="container-fluid">
		<div class="row align-items-center justify-content-start">
			<div class="col-sm-6">
				<div class="row">
					<div class="col-md-6">
						<div class="features__col">
							<div class="features__item">
								<span class="features__text">ثبت رایگان پروژه</span>
								<!-- /.features__text -->
							</div>
							<!-- /.features__item -->
							<div class="features__item">
								<span class="features__text">انتخاب متخصص مناسب با شرایط شما</span>
								<!-- /.features__text -->
							</div>
							<!-- /.features__item -->
							<div class="features__item">
								<span class="features__text">قیمت دهی بر اساس خواسته دقیق شما</span>
								<!-- /.features__text -->
							</div>
							<!-- /.features__item -->
						</div>
						<!-- /.features__col -->
					</div>
					<!-- /.col-md-4 -->
					<div class="col-md-6">
						<div class="features__col">
							<div class="features__item">
								<span class="features__text">بدون گرفتن کمیسیون</span>
								<!-- /.features__text -->
							</div>
							<!-- /.features__item -->
							<div class="features__item">
								<span class="features__text">ارزیابی عملکرد و رتبه بندی متخصصین</span>
								<!-- /.features__text -->
							</div>
							<!-- /.features__item -->
							<div class="features__item">
								<span class="features__text">امکان مذاکره و ارتباط مستقیم با متخصصین</span>
								<!-- /.features__text -->
							</div>
							<!-- /.features__item -->
						</div>
						<!-- /.features__col -->
					</div>
					<!-- /.col-md-4 -->
				</div>
				<!-- /.row -->
			</div>
			<!-- /.col-sm-6 -->
			<div class="features__phone col-sm-6">
				<img src="assets/images/features/mobile.png" alt="App" />
			</div>
			<!-- /.phone -->
		</div>
		<!-- /.row -->
		<div class="row">
			<div class="col-12">
				<div class="badge"></div>
				<!-- /.badge -->
			</div>
			<!-- /.col-12 -->
		</div>
		<!-- /.row -->
	</div>
	<!-- /.container features -->
</div>
<!-- /.features -->
