     <navbar></navbar>
        <!--<div class="container-fluid">-->
          <!--<div class="row">-->
            <!--<h2 style="color: white; z-index: 5000; font-weight: 400" class="persian mainhead">درباره ما</h2>-->
            <!--<img class="img-responsive" src="./images/group.jpg" style="    filter: brightness(80%);">-->
          <!--</div>-->
        <!--</div>-->
     <section class="innerpage-bannerr" style="    height: 85vh;     width: 102vw;
    " id="bott"></section>
     <h1 style="color: white; z-index: 5000; font-weight: 400; font-size: 35px;" class="persian mainhead" > درباره ما</h1>
        <div class="categories container-fluid" >

           <div class="row" style="    margin-right: 17%;
    margin-left: 15%;">


                 <p class="persian" style="    margin-bottom: 30px;
    text-align: center;
    line-height: 1.718;
    direction: rtl;
" dir="rtl">هر گامی در اعتلای اقتصاد برداشته شود، رفاه اجتماعی را به همراه خواهد داشت. جامعه سالم در سایه اشتغال،  دوام می یابد. این گام را هر چند کوچک، ما برداشتیم. فرزندان این سرزمین که خود برتافته از جمع شما و از برگزیدگان دانشگاه‌های معتبر این مرز و بومند، در قالب گروهی متخصص، برآنند که دستان خود را به دستان شما گره زده انبوهی از نیازها را با درایت و تخصص ویژه به همیاری یکدیگر سامان بخشند. شبکه متخصص دست می‌دهد، دست می‌گیرد و به  دستان دیگر می‌سپارد. نگاه متخصص، نگاهبان کمال در فرآیند برآورده شدن نیازمندی‌های جامعه در تمامی زمینه‌های شغلی می‌باشد.
                   متخصص، برآیند رشد و کمال جامعه و تخصص، خدمت بهینه شده آن است. به ما بپیوندید، پیوند با شما دوام ما و شما را تضمین می‌کند.</p>

           </div>

        </div>




     <section class="info-section index_3">
       <div class="row" style="    margin-bottom: 5%;">

         <div class="col-md-1 col-lg-2 "></div>
         <div class="col-md-10 col-lg-8 text-center" style="">





           <div class="team">
             <div data-column='3' class="at-grid">

               <div class="at-column visible-xs">
                 <div class="at-user">
                   <div class="at-user__avatar"><img src="./images/m.png"/></div>
                   <div class="at-user__name persian" style="font-family: IRANSans;"> میلاد شجاعی</div>
                   <div class="at-user__title persian"> بنیان گذار و مدیر عامل</div>

                 </div>
               </div>
               <div class="at-column hidden-xs">
                 <div class="at-user">
                   <div class="at-user__avatar"><img src="./images/h.png"/></div>
                   <div class="at-user__name persian" style="font-family: IRANSans;">هدی کرمانی </div>
                   <div class="at-user__title persian" dir="rtl">طراح ui/ux</div>

                 </div>
               </div>


               <div class="at-column">
                 <div class="at-user">
                   <div class="at-user__avatar"><img src="./images/a.png"/></div>
                   <div class="at-user__name persian" style="font-family: IRANSans;">امیرحسین صیحانی </div>
                   <div class="at-user__title persian">مدیر فنی</div>

                 </div>
               </div>

               <div class="at-column visible-xs">
                 <div class="at-user">
                   <div class="at-user__avatar"><img src="./images/h.png"/></div>
                   <div class="at-user__name persian" style="font-family: IRANSans;">هدی کرمانی </div>
                   <div class="at-user__title persian" dir="rtl">طراح ui/ux</div>

                 </div>
               </div>
               <div class="at-column hidden-xs">
                 <div class="at-user">
                   <div class="at-user__avatar"><img src="./images/m.png"/></div>
                   <div class="at-user__name persian" style="font-family: IRANSans;"> میلاد شجاعی</div>
                   <div class="at-user__title persian"> بنیان گذار و مدیر عامل</div>

                 </div>
               </div>
               <div class="at-column visible-xs">
                 <div class="at-user">
                   <div class="at-user__avatar"><img src="./images/me.png"/></div>
                   <div class="at-user__name persian" style="font-family: IRANSans;">مهرناز ثابت </div>
                   <div class="at-user__title persian" dir="rtl">توسعه دهنده front-end</div>

                 </div>
               </div>



               <div class="at-column visible-xs">
                 <div class="at-user">
                   <div class="at-user__avatar"><img src="./images/hoo.png"/></div>
                   <div class="at-user__name persian" style="font-family: IRANSans;"> هومن شریف زاده</div>
                   <div class="at-user__title persian" dir="rtl">توسعه دهنده front-end</div>

                 </div>
               </div>


               <div class="at-column">
                 <div class="at-user">
                   <div class="at-user__avatar"><img src="./images/sa.png"/></div>
                   <div class="at-user__name persian" style="font-family: IRANSans;"> سارا نقی زاده</div>
                   <div class="at-user__title persian" dir="rtl">توسعه دهنده front-end</div>

                 </div>
               </div>
               <div class="at-column hidden-xs">
                 <div class="at-user">
                   <div class="at-user__avatar"><img src="./images/hoo.png"/></div>
                   <div class="at-user__name persian" style="font-family: IRANSans;"> هومن شریف زاده</div>
                   <div class="at-user__title persian" dir="rtl">توسعه دهنده front-end</div>

                 </div>
               </div>
               <div class="at-column hidden-xs">
                 <div class="at-user">
                   <div class="at-user__avatar"><img src="./images/me.png"/></div>
                   <div class="at-user__name persian" style="font-family: IRANSans;">مهرناز ثابت </div>
                   <div class="at-user__title persian" dir="rtl">توسعه دهنده front-end</div>

                 </div>
               </div>

               <div class="at-column">
                 <div class="at-user">
                   <div class="at-user__avatar"><img src="./images/ho.png"/></div>
                   <div class="at-user__name persian" style="font-family: IRANSans;"> حسین بابایی</div>
                   <div class="at-user__title persian" dir="rtl">توسعه دهنده back-end</div>

                 </div>
               </div>

               <div class="at-column">
                 <div class="at-user">
                   <div class="at-user__avatar"><img src="./images/unknown.png"/></div>
                   <div class="at-user__name persian" style="font-family: IRANSans;">ماهان تفرشی پور</div>
                   <div class="at-user__title persian" dir="rtl">توسعه دهنده back-end</div>

                 </div>
               </div>

               <div class="at-column">
                 <div class="at-user">
                   <div class="at-user__avatar"><img src="./images/unknown.png"/></div>
                   <div class="at-user__name persian" style="font-family: IRANSans;">آبتین باطنی</div>
                   <div class="at-user__title persian" dir="rtl">توسعه دهنده application</div>

                 </div>
               </div>
             </div>

           </div>
         </div>
       </div>
     </section>
<pagefooter class="visible-lg visible-xs"></pagefooter>
     <footer class="panel-footer visible-md visible-sm" style="    position: absolute;
    width: 100%;
   ">
       <div class="container-fluid">
         <div class="row">
           <div class="col-xs-offset-3 col-md-offset-1 col-xs-4 col-md-2">
             <a class="btn-link persian grey" >تماس با ما</a>
           </div>
           <div class="col-xs-3">
             <a class="btn-link persian grey" ui-sref="aboutus" >درباره ما</a>
           </div>

           <!--<div class=" col-md-6 col-xs-12 "><img class="img-responsive center-block imglimit" src="../app/images/links.png"></div>-->
           <!--<div class=" col-md-6 col-xs-12 "><img class="img-responsive center-block imglimit" src="../app/images/telegram.png" style="width: 4%;"></div>-->

           <div class=" col-md-6 col-xs-12 " style="float: right; margin-top:5px;">
             <ul style="padding:0; margin:0 0 0 10px;">
               <li><a href="https://telegram.me/motekhases_team" target="_blank"><img class="img-responsive center-block imglimit" src="./images/telegram.png" style="width: 4%; float:right; list-style:none; margin-left:3px;"></a></li>
               <li><a href="https://www.instagram.com/motekhases.team" target="_blank"><img class="img-responsive center-block imglimit" src="./images/instagram.png" style="width: 4%; float: right;list-style:none; margin-left:3px;"></a></li>
               <li><a href="https://twitter.com/motekhases_team" target="_blank"><img class="img-responsive center-block imglimit" src="./images/twitter.png" style="width: 4%; float:right; list-style:none; margin-left:3px;"></a></li>
               <li><img class="img-responsive center-block imglimit" src="./images/linkedin.png" style="width: 4%; float: right; list-style:none; margin-left:3px;"></li>
               <li><a href="https://www.aparat.com/motekhases.com" target="_blank"><img class="img-responsive center-block imglimit" src="./images/aparat.png" style="width: 5%; float: right; list-style:none; margin-left:3px;"></a></li>
             </ul>
           </div>
           <div class="col-xs-12">
             <img src="./images/adamlogoo.png" class="footerlogo visible-lg visible-md">
             <p class="persian grey margin align">تمامی حقوق متعلق به متخصص دات کام می باشد</p>
           </div>
         </div>
       </div>
     </footer>
