<navbar>
</navbar>

<section class="innerpage-banner" style="    height: 85vh;
    "></section>
<h2 style="color: white; z-index: 5000; font-weight: 400" class="persian mainhead">تماس با ما</h2>
<!--<div class="container">-->
<!--<div class="row">-->
<!--<div class="col-md-12">-->

<!--</div>-->
<!--&lt;!&ndash;<div class="col-md-12 text-right">&ndash;&gt;-->
<!--&lt;!&ndash;<div dir="rtl" class="other-page-link"> <a href="passengers.html"><i class="fa fa-circle"></i>صفحه اصلی</a> <span><i class="fa fa-angle-left"></i>درباره ما</span> </div>&ndash;&gt;-->
<!--&lt;!&ndash;</div>&ndash;&gt;-->
<!--</div>-->
<!--</div>-->

<section class="info-section index_3 contact-page">

	<div class="row contact-container">
		<div class="col-lg-2 col-md-1"></div>
		<div class="col-lg-4 col-md-5">
			<div id="map_canvas"></div>
		</div>
		<div class="col-lg-4 col-md-5">
			<div class="contact-header">
				<p class="persian" dir="rtl">با ما در تماس باشید</p>
				<hr>
			</div>
			<div class="contact-box">
				<i class="fa fa-phone"></i>
				<div class="persian">شماره تماس: </div>
				<p class="persian" dir="ltr"> +۹۸(۲۱)۸۸۲۲۳۵۴۱ </p>
			</div>
			<!--<div class="contact-box">-->
			<!--<i class="fa fa-phone"></i>-->
			<!--<div>شماره تماس با مدیرعامل: </div>-->
			<!--<p dir="ltr"> +۹۸(۲۱)۹۶۹۹۳۰۰۰ </p>-->
			<!--</div>-->
			<div class="contact-box">
				<i class="fa fa-map-marker"></i>
				<div class="persian"> آدرس: </div>
				<p dir="rtl" class="persian">يوسف آباد - خيابان شهريار - كوچه ٢٠ ام - پلاك ٣٨</p>
			</div>
			<div class="contact-box">
				<i class="fa fa-envelope-o last"></i>
				<div class="persian"> پست الکترونیکی: </div>
				<p class="english">info@motekhases.com</p>
			</div>
			<!--<div class="social-buttons">-->

			<!--<a href="" class="social-button linkedin">-->
			<!--<i class="fa fa-linkedin"></i>-->
			<!--</a>-->
			<!--&lt;!&ndash;<a href="https://plus.google.com/+Tap30Ir" class="social-button google">&ndash;&gt;-->
			<!--&lt;!&ndash;<i class="fa fa-google"></i>&ndash;&gt;-->
			<!--&lt;!&ndash;</a>&ndash;&gt;-->
			<!--&lt;!&ndash;<a href="https://www.facebook.com/TAP30.ir" class="social-button facebook">&ndash;&gt;-->
			<!--&lt;!&ndash;<i class="fa fa-facebook"></i>&ndash;&gt;-->
			<!--&lt;!&ndash;</a>&ndash;&gt;-->
			<!--<a href="https://twitter.com/motekhases_team" class="social-button twitter">-->
			<!--<i class="fa fa-twitter"></i>-->
			<!--</a>-->
			<!--<a href="https://www.instagram.com/motekhases.team" class="social-button instagram">-->
			<!--<i class="fa fa-instagram"></i>-->
			<!--</a>-->
			<!--<a href="https://telegram.me/motekhases_team" class="social-button telegram">-->
			<!--<i class="fa fa-paper-plane"></i>-->
			<!--</a>-->
			<!--</div>-->
		</div>

	</div>

</section>

<pagefooter class="visible-lg visible-xs"></pagefooter>
<footer class="panel-footer visible-md visible-sm" style="    position: absolute;    width: 100%;
    top: 100%;">
	<div class="container-fluid">
		<div class="row">
			<div class="col-xs-offset-3 col-md-offset-1 col-xs-4 col-md-2">
				<a class="btn-link persian grey">تماس با ما</a>
			</div>
			<div class="col-xs-3">
				<a class="btn-link persian grey" ui-sref="aboutus">درباره ما</a>
			</div>

			<!--<div class=" col-md-6 col-xs-12 "><img class="img-responsive center-block imglimit" src="../app/images/links.png"></div>-->
			<!--<div class=" col-md-6 col-xs-12 "><img class="img-responsive center-block imglimit" src="../app/images/telegram.png" style="width: 4%;"></div>-->

			<div class=" col-md-6 col-xs-12 " style="float: right; margin-top:5px;">
				<ul style="padding:0; margin:0 0 0 10px;">
					<li><a href="https://telegram.me/motekhases_team" target="_blank"><img class="img-responsive center-block imglimit" src="./images/telegram.png" style="width: 4%; float:right; list-style:none; margin-left:3px;"></a></li>
					<li><a href="https://www.instagram.com/motekhases.team" target="_blank"><img class="img-responsive center-block imglimit" src="./images/instagram.png" style="width: 4%; float: right;list-style:none; margin-left:3px;"></a></li>
					<li><a href="https://twitter.com/motekhases_team" target="_blank"><img class="img-responsive center-block imglimit" src="./images/twitter.png" style="width: 4%; float:right; list-style:none; margin-left:3px;"></a></li>
					<li><img class="img-responsive center-block imglimit" src="./images/linkedin.png" style="width: 4%; float: right; list-style:none; margin-left:3px;"></li>
					<li><a href="https://www.aparat.com/motekhases.com" target="_blank"><img class="img-responsive center-block imglimit" src="./images/aparat.png" style="width: 5%; float: right; list-style:none; margin-left:3px;"></a></li>
				</ul>
			</div>
			<div class="col-xs-12">
				<img src="./images/adamlogoo.png" class="footerlogo visible-lg visible-md">
				<p class="persian grey margin align">تمامی حقوق متعلق به متخصص دات کام می باشد</p>
			</div>
		</div>
	</div>
</footer>