
<div class="container" data-ng-controller="signup">
    <form id="contact" action="/home" method="post">
        <img class="img-responsive center-block imglimit logo-size" src="/images/logo-new-blue-black.png" style=" display: block; margin: auto; padding: 30px;">
        <br>
        <p class="persian">برای بازیابی رمز عبور خود، لطفا شماره همراه‌‌تان را وارد کنید.</p>
        <br>
        <fieldset><input placeholder="شماره همراه" name="username" type="text" tabindex="2" required></fieldset>
        <br>
        <fieldset><button name="submit" type="submit" id="contact-submit" data-submit="...Sending" class="persian">ارسال</button></fieldset>
        <br>
        <br>
    </form>
</div>
