<!-- #TODO: default item be enabled -->
<div class="help help--dashboard uk-animation-slide-top-small" dir='rtl'>
	<div class="uk-container">
		<div uk-grid>
			<div class="uk-width-1-3@m help-tab">
				<ul class='uk-tab-left' uk-tab='connect: #help__switcher; animation: uk-animation-slide-top-small, uk-animation-slide-bottom-small'>
					<li class='help-tab__item uk-active'><a href="#">چگونه کار می کند؟</a></li>
					<li class='help-tab__item'><a href="#">چرا از جاپ استفاده کنم؟</a></li>
					<li class='help-tab__item'><a href="#">چگونه بهتر کار بگیرم؟</a></li>
				</ul>
			</div>
			<!-- /.uk-width-1-3@m -->
			<div class="uk-width-2-3@m help-content">
				<ul class='uk-switcher' id='help__switcher'>
					<li class="help-content__item help-content__item--list card uk-active">
						<div class="card__body">
							<div uk-grid>
								<div class="uk-width-1-2@m">
									<h3 class="uk-title"><span class="help__num">۱.</span> ما درخواست های مشتریان را برای شما ارسال می کنیم</h3>
									<!-- /.uk-title -->
									<p>مشتریان به سایت جاپ مراجعه می کنند و به دنبال متخصصی می گردند که خدمت مورد نیاز آن ها را ارائه دهد. آن ها به سوالاتی در خصوص خدمت مورد نیاز خود پاسخ می دهند تا شما به طور دقیق خواسته آن ها را بشناسید.</p>
								</div>
								<!-- /.uk-width-1-2@m -->
								<div class="help__img uk-width-1-2@m">
									<img class='lazy' data-src="/profile/images/help/1.jpg" alt="" />
								</div>
							</div>
							<div uk-grid>
								<div class="uk-width-1-2@m">
									<h3 class="uk-title"><span class="help__num">۲.</span> شما تصمیم می گیرید به کدام یک از مشتریان پاسخ دهید</h3>
									<!-- /.uk-title -->
									<p>ما در خواست های مشتریان را به تمام متخصصین مانند شما ارسال می کنیم. اگر شما مایل باشید و توانایی لازم را دارا بودید، می توانید با فرستادن پیام با مشتری مورد نظر خود ارتباط برقرار کنید.</p>
								</div>
								<!-- /.uk-width-1-2@m -->
								<div class="help__img uk-width-1-2@m">
									<img class='lazy' data-src="/profile/images/help/2.jpg" alt="" />
								</div>
								<!-- /.uk-width-1-2@m -->
							</div>
							<div uk-grid>
								<div class="uk-width-1-2@m">
									<h3 class="uk-title"><span class="help__num">۳.</span> پیام ارسال کنید</h3>
									<!-- /.uk-title -->
									<p>پیام شما شامل تخمین قیمت و یک پیغام شخصی می باشد. ما به طور خودکار صفحه پروفایل شما در سایت جاپ را که شامل سوابق کاری، مدارک شما، اطلاعات تماس و نظرات مشتریان قبلی می باشد، همراه با پیام شما ارسال می کنیم.</p>
								</div>
								<!-- /.uk-width-1-2@m -->
								<div class="help__img uk-width-1-2@m">
									<img class="lazy" data-src="/profile/images/help/3.jpg" alt="" />
								</div>
								<!-- /.uk-width-1-2@m -->
							</div>
							<div uk-grid>
								<div class="uk-width-1-2@m">
									<h3 class="uk-title"><span class="help__num">۴.</span> استخدام شوید و به مشتری خود بگویید به شما امتیاز و نظر دهد</h3>
									<!-- /.uk-title -->
									<p>به طور معمول برای یک کار چند متخصص دیگر نیز پیام ارسال می کنند. مشتری متخصصین را مقایسه می کند و تصمیم می گیرد.</p>
									<p>شما و مشتری می توانید کار را از طریق وب سایت ما, تلفن و یا هر طریقی که تمایل داشتید پیگیری کنید.</p>
									<p>زمانی که استخدام شدید حتماً به مشتری خود بگویید که به شما امتیاز و نظر بدهد, زیرا اینکار شانس شما را برای انتخاب در پروژه های بعدی افزایش می دهد.</p>
								</div>
								<!-- /.uk-width-1-2@m -->
								<div class="help__img uk-width-1-2@m">
									<img class="lazy" data-src="/profile/images/help/4.jpg" alt="" />
								</div>
								<!-- /.uk-width-1-2@m -->
							</div>
						</div>
						<!-- /.card__body -->
					</li>
					<!-- /.help-content__item -->
					<li class="help-content__item card">
						<div class="card__body">
							<i class="help__icon icon-people"></i>
							<h3 class="uk-title">مشتریان جدید پیدا کنید</h3>
							<!-- /.uk-title -->
							<p>روزانه مشتریان بسیار زیادی به سایت ما مراجعه می کنند و به دنبال افراد متخصص هستند تا پروژه های آن ها را انجام دهند. مشتریان با جواب دادن به سوالات مخصوص هر خدمت نیازهای دقیق خود را به ما می گویند و ما آن ها را برای شما ارسال می کنیم.</p>
							<i class="help__icon icon-calendar"></i>
							<h3 class="uk-title">همه چیز تحت کنترل شماست</h3>
							<!-- /.uk-title -->
							<p>شما در ابتدا مشخص می کنید در چه زمینه هایی توانایی دارید، سپس درخواست های مشتریانی را می بینید که کاملا مناسب شما هستند و شما فقط با آن هایی ارتباط برقرار می کنید که از نظر زمانی، مکانی و ... با شرایط شما هماهنگ هستند.</p>
							<i class="help__icon icon-cancel"></i>
							<h3 class="uk-title">نگرفتن درصد از دستمزد کار شما</h3>
							<!-- /.uk-title -->
							<p>ما در وبسایت جاپ از شما هیچگونه کمیسیونی نمی گیریم و تمامی توافقات مالی شما و مشتری بین خودتان می باشد و وبسایت جاپ تنها نقش رابط و معرف شما به مشتریان را ایفا می کند.</p>
							<i class="help__icon icon-hand-shake"></i>
							<h3 class="uk-title">آزادی عمل در توافق با مشتری و راه ارتباطی با او</h3>
							<!-- /.uk-title -->
							<p>پس از ارسال پیام برای مشتری شما کاملا آزاد هستید از هر طریقی که راحتید با هم در ارتباط باشید و در مورد نحوه پرداخت و گرفتن دستمزد خودتان توافق نمایید.</p>
						</div>
						<!-- /.card__body -->
					</li>
					<!-- /.help-content__item -->
					<li class="help-content__item card">
						<div class="card__body">
							<i class="help__icon icon-msg"></i>
							<h3 class="uk-title">پیام کاملا واضح و حرفه ای ارسال نمایید</h3>
							<!-- /.uk-title -->
							<p>پیام شما اولین چیزی است که مشتری مشاهده می کند، آن را به بهترین شکل ممکن بنویسید! مطمئن شوید نیازهای آن ها را به درستی درک کرده اید و نگرانی های آن ها را برطرف نمایید. یک قیمت رقابتی اعلام کنید و کاملا مشخص نمایید که قیمت شما شامل چه مواردی می باشد، واحد آن چیست و از انجام چه کار هایی بر می آیید و چه کارهایی در توان شما نیست. در نهایت به جزئیات در پیام خود توجه کنید، برای مثال مشتری را با نام خودش خطاب نمایید و در آخر پیام نیز نام خود را ذکر بفرمایید.</p>
							<i class="help__icon icon-money"></i>
							<h3 class="uk-title">تخمین قیمت بزنید</h3>
							<!-- /.uk-title -->
							<p>مشتریان بیشتر تمایل دارند متخصصینی را استخدام کنند که تخمین قیمت اولیه ای انجام داده باشند، قیمت اعلامی شما لازم نیست رقم نهایی باشد و می توانید با مذاکرات و کسب اطلاعات بیشتر در مورد کار آن را تغییر دهید. دقیقا مشخص کنید که پیام شما شامل چه مواردی می باشد و او را از احتمال تغییر قیمت بر اساس متغیرهای مختلف آگاه سازید در صورت امکان از قیمت بازار قیمتی بالاتر اعلام ننمایید ولی اگر قیمت شما بالا است دلایل خود را به اطلاع مشتری برسانید.</p>
							<i class="help__icon icon-person"></i>
							<h3 class="uk-title">پروفایل کامل و برنده بسازید</h3>
							<!-- /.uk-title -->
							<p>مشتریان به دنبال متخصص با تجربه هستند، پروفایل شما مکانی است که شما به او ثابت کنید شما فرد مناسب هستید. حتما عکس خود، نمونه کارها و ویدیو معارفه را در پروفایلتان قرار دهید تا مشتری با شما ارتباط بهتری پیدا کند، سپس با قرار دادن مدارک، تایید هویت و اطلاعات بیشتر از خودتان درصد اطمینان خود را ارتقاع دهید و توانایی های خود را به او ثابت نمایید.</p>
							<i class="help__icon icon-refresh"></i>
							<h3 class="uk-title">نا امید نشوید</h3>
							<!-- /.uk-title -->
							<p>برای اینکه بتوانید بهتر کار بگیرید حتما لازم است که فعال باشید و به مشتریانی که فکر می کنید مناسب شما هستند پیام دهید و پیگیری های لازم را انجام دهید، فراموش نکنید که شما در هر پروژه رقبایی هم دارید.</p>
						</div>
						<!-- /.card__body -->
					</li>
					<!-- /.help-content__item -->
				</ul>
				<!-- /.uk-switcher -->
			</div>
			<!-- /.uk-width-expand@m -->
		</div>
		<!-- /.uk-grid -->
	</div>
	<!-- /.uk-container -->
</div>
<!-- /.help -->
