<nav class="navbar navbar-fixed-top" style="height: 17%">
    <div class="container-fluid navbarpadding">
      <div class="navbar-header persian" style="color: white;">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
          <span class="icon-bar wback"></span>
          <span class="icon-bar wback"></span>
          <span class="icon-bar wback"></span>
        </button>

        <a class="navbar-brand visible-xs" ui-sref="home" ><img alt="brand" class="img-responsive" src="./images/logowhite.png" style="max-width: 200px;"></a>

      </div>
      <div class="collapse navbar-collapse" id="myNavbar">
        <ul class="nav navbar-nav" style="text-align: right;">


            <a class="navbar-brand hidden-xs" ui-sref="home" style="    margin-left: 41%;"><img alt="brand" class="img-responsive" src="./images/logowhite.png" style="max-width: 200px;"></a>

            <li><button class="btn persian linkcolors linkbtn fontweight2 fontsize" ui-sref="signup">ثبت نام</button> </li>
        </ul>
        </div>
    </div>
</nav>
<div>
</div>
