<title>پیام ارسال رمز عبور- جاپ</title>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="/styles/style.css">

<div class="container-fluid">
    <div class="row center-block">
        <div class="col-xs-12" style=" margin-top:15%;">
            <img src="./images/logo-new-blue-black.png" class="img-responsive aligncenter logo-size" style="  margin-bottom: 11%;
    margin-top: -8%;">
            <h1 class="persian align fontweight greeting" dir="rtl" >{{firstname}} عزیز رمز عبور جدید برای شما ارسال شد.</h1>
            {{user.selected_profession}}
            <h4 class="persian align fontweight2" dir="rtl" style="line-height: 30px;">اخبار ما را در شبکه های اجتماعی دنبال کنید.</h4>
            <div class=" col-md-6 col-xs-12 container-fluid hidden-xs visible-sm visible-md visible-lg fix" style="margin-top:5px;">
                <ul style="padding:0;">
                    <li><a href="https://t.me/motekhases_team" target="_blank"><img class="img-responsive center-block imglimit" src="./images/telegram2.png" style="width: 4%; list-style:none; margin-left:10px; float: right;"></a></li>
                    <li><a href="https://www.instagram.com/motekhases.team" target="_blank"><img class="img-responsive center-block imglimit" src="./images/insta2.png" style="width: 4%; float: right;list-style:none; margin-left:10px;"></a></li>
                    <li><a href="https://twitter.com/motekhases_team" target="_blank"><img class="img-responsive center-block imglimit" src="./images/twitter2.png" style="width: 4%; float:right; list-style:none; margin-left:10px;"></a></li>
                    <li><img class="img-responsive center-block imglimit" src="./images/linkedin2.png" style="width: 4%; float: right; list-style:none; margin-left:10px;"></li>
                    <li><a href="http://www.aparat.com/motekhases.com" target="_blank"><img class="img-responsive center-block imglimit" src="./images/aparat2.png" style="width: 5%; float: right; list-style:none; margin-left:10px;"></a></li>
                </ul>
            </div>
            <div class=" col-md-6 col-xs-12 container-fluid visible-xs" style="margin-top:5px; margin-left: -23%;">
                <ul style="padding:0;">
                    <li><a href="https://t.me/motekhases_team" target="_blank"><img class="img-responsive center-block imglimit" src="./images/telegram2.png" style="width: 6%; list-style:none; margin-left:10px; float: right;"></a></li>
                    <li><a href="https://www.instagram.com/motekhases.team" target="_blank"><img class="img-responsive center-block imglimit" src="./images/insta2.png" style="width: 6%; float: right;list-style:none; margin-left:10px;"></a></li>
                    <li><a href="https://twitter.com/motekhases_team" target="_blank"><img class="img-responsive center-block imglimit" src="./images/twitter2.png" style="width: 6%; float:right; list-style:none; margin-left:10px;"></a></li>
                    <li><img class="img-responsive center-block imglimit" src="./images/linkedin2.png" style="width: 6%; float: right; list-style:none; margin-left:10px;"></li>
                    <li><a href="http://www.aparat.com/motekhases.com" target="_blank"><img class="img-responsive center-block imglimit" src="./images/aparat2.png" style="width: 8%; float: right; list-style:none; margin-left:10px;"></a></li>
                </ul>
            </div>

        </div>
    </div>
</div>
