<div class="categories" style="margin-top: 10%;">
	<div class="row">
		<div class="col-xs-12" style="padding-right: 5%; padding-left: 5%;">
			<div class="list-group">
				<h3 class="list-group-item-heading text-center" style="padding: 10px;  font-weight: 600;">مقررات عمومی</h3>
				<div class="list-group-item padd35">
					<p class="text-info">
						کلیه اصول و رویه‏‌های سایت جاپ منطبق با قوانین جمهوری اسلامی ایران، قانون تجارت الکترونیک و قانون حمایت از حقوق مصرف کننده است و متعاقبا کاربر نیز موظف به رعایت قوانین مرتبط با کاربر است. سایت جاپ حق اصلاح و تغییر شروط این توافقنامه را کلا یا
						جزئا داراست و باید شروط اصلاح شده یا تغییر یافته را از طریق وبگاه اعلام نماید. تغییرات ایجاد شده جز در خصوص اطلاعات مالی فورا اعمال می‌گردند. استفاده کاربران بعد از تاریخ موثر (تاریخ قابل اجرا) به معنی پذیرش هرگونه تغییرات است..
					</p>
				</div>
				<div class="list-group-item padd35">
					<p class="text-info ">
						محتویات این وبگاه بر اساس " آنچه هست " و " آنچه موجود است " ارائه می شود، بدین معنا که سایت جاپپ هیچ‌گونه تعهدی در خصوص محتوای پروفایل های مشتریان (دریافت کنندگان خدمات) و افراد متخصص (ارائه دهندگان خدمات) ، کارکردهای خاص آنها، قابل اعتماد بودن و
						مناسب بودن برای نیازهای کاربر نخواهد داشت.
					</p>
				</div>
				<div class="list-group-item padd35">
					<p class="text-info ">
						سایت جاپ jopp.ir تنها وظیفة ایجاد ارتباط و معرفی افراد متخصص (ارائه دهندگان خدمت) و مشتریان ( دریافت کنندگان خدمت) را به عهده دارد و هرگونه بروز مشکل و خطا از سوی هر یک از طرفین پس از معرفی افراد به یکدیگر، مسئولیتی را متوجه وبسایت جاپ نمی‌کند.
						لذا در هنگام انتخاب فرد متخصص و یا مشتری مورد نظر، دقت لازم را حاصل نموده و تمامی تدابیر امنیتی را برای جلوگیری از بروز مشکل احتمالی پیش بینی نمایید.
					</p>
				</div>

				<div class="list-group-item padd35">
					<p class="text-info ">
						سایت جاپ هیچ تضمینی در خصوص کیفیت خدمات، زمان ارائه خدمات و تعهدات و ادعاهای طرفین ارائه نمی‌دهد.
					</p>
				</div>
				<div class="list-group-item padd35">
					<p class="text-info ">
						خدمات که در سایت جاپ قرار می‌گیرند ممکن است با مشارکت خدمات شرکت‌های دیگری ارائه شود که سایت جاپ کنترلی روی آنها ندارد. در چنین شرایطی کاربر می‌پذیرد که این خدمات ، قوانین استفاده و مقررات مختص خود را دارند و سایت جاپ مسئولیتی در خصوص قوانین و
						خدمات این شرکت‌ها ندارد.
					</p>
				</div>
				<div class="list-group-item padd35">
					<p class="text-info ">
						افراد متخصص (ارائه دهندگان خدمات) و مشتریان (دریافت کنندگان خدمات) متعهد می‌گردند اطلاعات صحیح و کامل خود را در زمان ثبت نام و همچنین زمان استفاده وارد کنند. در هر صورت آگهی‌دهنده و نمایش‌دهنده به اطلاعات خود دسترسی دارند و می‌توانند اطلاعات ناقص یا
						نادرست خود را اصلاح نمایند. افراد متخصص (ارائه دهندگان خدمات) و مشتریان (دریافت کنندگان خدمات) باید اطلاعات ثبت نام را برای حفظ صحت و کامل بودن آنها بروز رسانی نمایند. همچنین متعهد می‌گردند که از ایمیل اشتباه (غیر از ایمیل ثبت شده و تایید شده در زمان
						ثبت نام) استفاده نمی‌کنند، هویت شخص یا اشخاص حقیقی و حقوقی دیگر را جعل نمی‌کنند یا به هر نحوی هویت اصلی خود را مخفی نمی‌کنند.
					</div>
					<div class="list-group-item padd35">
						<p class="text-info ">
							سایت جاپ برای تسهیل دسترسی مشتریان (دریافت کنندگان خدمات) و افراد متخصص (ارائه دهندگان خدمات) پیوندهایی را به وبگاه‌های دیگر ایجاد نموده است. به منظور اتصال به این وبگاه‌ها لازم است ابتدا شرایط استفاده از آن را مطالعه شود سایت جاپ در قبال محتوای
							موجود در این وبگاه‌ها هیچ‌ گونه مسئولیتی ندارد. ضمن اینکه پیوند به این وبگاه‌ها به معنای تایید محتوا، محصولات و خدمات موجود در این وبگاه‌ها و یا هر نوع ارتباط با اداره‌کنندگان آنها نمی‌باشد.
						</div>
						<div class="list-group-item padd35">
							<p class="text-info ">
								تلاش ما بر این است که با مواردی همچون اهراز هویت، درصد اطمینان و... شما را در انتخاب بهترین فرد راهنمایی کنیم، اما در نهایت مسئولیت تمامی خطرها و اتفاقاتی که ممکن است در نتیجه استفاده از سایت جاپ یا سایر سرویس مرتبط با سایت جاپ، برای شما به وجود
								بیاید به عهده شما است. سایت جاپ هیچ مسئولیتی در قبال مشکلاتی که ممکن است در نتیجه استفاده از سایت جاپ توسط یک کاربر، برای کاربران یا افراد دیگر ایجاد شود از جمله قصور در انجام خدمات از سوی متخصصان (ارائه دهندگان خدمت)، عدم ایفای تعهدات مالی از
								سوی مشتریان (دریافت کنندگان خدمت) ، یا صدمه‌هایی که به دارایی‌های افراد وارد می‌شود به عهده ندارد.
							</div>

							<div class="list-group-item padd35">
								<p class="text-info ">
									مشتریان (دریافت کنندگان خدمات) و افراد متخصص (ارائه دهندگان خدمات) باید از اهلیت قانونی لازم برای انعقاد این توافقنامه برخوردار باشند. چنانچه به نمایندگی از یک شخص حقوقی به عنوان مشتری(دریافت کننده خدمات) و فرد متخصص (ارائه دهنده خدمات) این توافقنامه
									را منعقد می‌نماید، دارای اختیارات قانونی لازم برای انعقاد این توافقنامه است و تضمین می‌کند هیچ شخصی اعم از حقیقی و حقوقی ادعایی در این خصوص نخواهد داشت.
								</div>
								<div class="list-group-item padd35">
									<p class="text-info ">
										این مستند به عنوان راهنمای استفاده درست از سایت جاپ نوشته شده است، و می‌بایست تحت هر شرایطی از آن پیروی شود. نقض این قوانین می تواند منجر به مسدود شدن حساب شما و یا جبران خسارات مالی شود. در صورت وجود هر سوالی می‌توانید با بخش پشتیبانی تماس بگیرید.
										همکاران ما به همه سئوالات شما پاسخ می دهند تا هر گونه نگرانی که ممکن است برای شما ایجاد شود را از بین ببریم.
									</div>

								</div>

								<div class="list-group">
									<h3 class="list-group-item-heading text-center " style="    font-weight: 600;">شرایط سایت
									</h3>
									<div class="list-group-item padd35">
										<p class="text-info ">
											سایت جاپ تنها متعهد به وعده‌های صریح و آشکاری است که در این توافقنامه داده‌ است و در قبال برداشت‌های ضمنی از توافقنامه هیچ تعهد و مسئولیتی ندارد.
										</p>
									</div>
									<div class="list-group-item  padd35">
										<p class="text-info ">
											وبسایت جاپ تمام تلاش خود را در راستای دسترسی بدون وقفه کاربران به سایت انجام می‌دهد و همچنین در تلاش است که ایراد و مشکلات سایت از بین رفته و سایت عاری از هرگونه ویروس و نرم افزار مخرب باشد، ولی تضمین هیچکدام از این موارد در حیطة کنترل وب سایت جاپ نخواهد بود.
										</p>
									</div>
									<div class="list-group-item padd35">
										<p class="text-info ">
											سایت جاپ می‌تواند در هر زمانی شرایط توافقنامه را تغییر دهد، اما تمام تلاش سایت بر این است که اطلاعات مربوط به تغییرات را در وبسایت منتشر کرده یا با ایمیل به شما اطلاع دهد. اگر بعد از تغییر شرایط توافقنامه همچنان به استفاده از وبسایت ادامه دهید، به
											معنی آن است که شرایط جدید یا اصلاح‌شده را پذیرفته‌اید.
										</p>
									</div>
									<div class="list-group-item padd35">
										<p class="text-info ">
											وبسایت جاپ از داخل ایران اداره می‌شود. در نتیجه قوانین جمهوری اسلامی ایران نافذ هستند و سایت جاپ از قوانین و مقررات ایران پیروی می‌کند و تحت نظام قضایی ایران عمل خواهد کرد. هر گونه قانونی که به‌شکل اجتناب‌ناپذیر و رد ناشدنی در موردی و موضوعی وارد
											باشد و صدق کند، در آن زمینه قانون نافذ محسوب خواهد شد.
										</p>
									</div>

								</div>

								<div class="list-group">
									<h4 class="list-group-item-heading text-right  padd35">شما می پذیرید که:
									</h4>
									<div class="list-group-item padd35">
										<p class="text-info ">
											شئونات اخلاقی را حفظ کرده و با صداقت رفتار میکنید.
										</div>
										<div class="list-group-item padd35">
											<p class="text-info ">
												معلومات، اعتبارنامه‌ها و تخصص لازم، شامل تحصیلات، تعلیمات، دانش، و مهارت‌های مربوطه را برای ارائه خدمات مورد نظر از طریق سایت و محصولات آن را دارا هستید؛
											</div>
											<div class="list-group-item padd35">
												<p class="text-info ">
													با همه سیاست‌های سایت موافق هستید؛
												</div>
												<div class="list-group-item padd35">
													<p class="text-info ">
														به حقوق همه کاربران احترام خواهید گذاشت؛
													</div>
													<div class="list-group-item padd35">
														<p class="text-info ">
															از اطلاعات محرمانه سوء استفاده نمیکنید و در هر گونه عمل غیر قانونی شرکت نخواهید کرد؛
														</div>
														<div class="list-group-item padd35">
															<p class="text-info ">
																منافع، حقوق و امنیت کاربران را در نظر بگیرید؛
															</div>
															<div class="list-group-item padd35">
																<p class="text-info ">
																	به کسی آزار نرسانید یا تبعیض قائل نشوید؛
																</div>
																<div class="list-group-item padd35">
																	<p class="text-info ">
																		هویت خود و یا هر هویت دیگری را جعل نکرده و اطلاعات درست و صحیح ارائه داده اید؛
																	</div>
																	<div class="list-group-item padd35">
																		<p class="text-info ">
																			هر گونه نقض قوانین را گزارش کنید؛
																		</div>
																		<div class="list-group-item padd35">
																			<p class="text-info ">
																				چندین حساب کاربری ایجاد نخواهید کرد؛
																			</div>

																			<div class="list-group-item padd35">
																				<p class="text-info ">
																					شما مسئول تمامی محتواهایی هستم که در سایت جاپ ارسال میکنید:
																				</div>

																			</div>

																			<div class="list-group">
																				<h4 class="list-group-item-heading text-right  padd35">همچنین شما می‌پذیرید که از اقدامات زیر اجتناب نمایید:

																				</h4>
																				<div class="list-group-item padd35">
																					<p class="text-info ">
																						ارسال محتوایی که قوانین کپی رایت و یا دیگر حقوق مالکیت معنوی را نقض کند؛
																					</div>
																					<div class="list-group-item padd35">
																						<p class="text-info ">
																							ارسال محتوایی که هر قانون یا مقرراتی را نقض کند ؛
																						</div>
																						<div class="list-group-item padd35">
																							<p class="text-info ">
																								ارسال محتوای توهین آمیز؛
																							</div>
																							<div class="list-group-item padd35">
																								<p class="text-info ">
																									ارسال محتوایی که حاوی مطالب غیر اخلاقی و غیر اسلامی باشد؛
																								</div>
																								<div class="list-group-item padd35">
																									<p class="text-info ">
																										ارسال محتوایی که شامل اطلاعات ناقص، غلط یا نادرست باشد؛
																									</div>
																									<div class="list-group-item padd35">
																										<p class="text-info ">
																											ارسال محتوایی که شامل هر گونه ویروس و یا برنامه ‌هایی که برای صدمه زدن به هر سیستم نوشته شده باشد؛
																										</div>
																										<div class="list-group-item padd35">
																											<p class="text-info ">
																												ارسال محتوایی که برای سایت جاپ ایجاد مسئولیت کند و یا به کسب و کار و یا شهرت آن آسیب برساند؛
																											</div>
																											<div class="list-group-item padd35">
																												<p class="text-info ">
																													تجاوز به حقوق قانونی و حریم خصوصی دیگران؛
																												</div>
																												<div class="list-group-item padd35">
																													<p class="text-info ">
																														اقدام به اعمالی که سبب خسارت به دیگران شود یا موجبات ورود ضرر به دیگران را فراهم آورد؛
																													</div>
																													<div class="list-group-item padd35">
																														<p class="text-info ">
																															برهم زدن اخلاق حسنه و نظم عمومی با استفاده از اطلاعات وبگاه؛
																														</div>

																														<div class="list-group-item padd35">
																															<p class="text-info ">
																																اقدام به اعمالی که مطابق قانون مجازات اسلامی، قانون جرائم رایانه ای، قانون تجارت الکترونیک و سایر قوانین موضوعه مربوطه رفتار یا عمل مجرمانه تلقی می‌گردد؛
																															</div>
																															<div class="list-group-item padd35">
																																<p class="text-info ">
																																	هر نوع فعالیت دیگری که از نظر وبگاه جاپ یا ارگان های مرتبط نامناسب پنداشته شود؛
																																</div>
																																<div class="list-group-item padd35">
																																	<p class="text-info ">
																																		استفاده از مطالب دارای کپی رایت بدون اجازه‏ی صاحب اثر؛
																																	</div>
																																	<div class="list-group-item padd35">
																																		<p class="text-info ">
																																			تلاش برای نفوذ به وبگاه و یا تخریب اطلاعات موجود در وبگاه ( هک کردن) و همچنین انتقال ویروس یا هرگونه نرم افزار دیگر با ماهیت مخرب با استفاده از ابزارهای ارتباطی وبگاه؛
																																		</div>
																																		<div class="list-group-item padd35">
																																			<p class="text-info ">
																																				ارائه مطالبی که تلویحا یا تصریحا شامل مفاهیمی استهزاء کننده، تحقیر کننده یا توهین‌آمیز نسبت به هر نژاد، قوم، مذهب، ملیت و جنسیت باشد؛
																																			</div>
																																			<div class="list-group-item padd35">
																																				<p class="text-info ">
																																					ارائه مطالبی که بطور مستقیم یا غیرمستقیم فعالیت‌های غیرقانونی و غیراخلاقی نظیر پورنوگرافی، تصاویر مروج فساد و مطالب خارج از نزاکت و برخلاف عفت عمومی را ترویج نماید؛
																																				</div>
																																				<div class="list-group-item padd35">
																																					<p class="text-info ">
																																						ارائه مطالبی از قول منابع علمی، بدون این که از سوی منابع موثق علمی تایید شده باشد؛
																																					</div>
																																					<div class="list-group-item padd35">
																																						<p class="text-info ">
																																							ارائه مطالبی که حاوی ادعاهای غیرقابل اثبات و مطالب گمراه کننده باشد.
																																						</div>
																																						<div class="list-group-item padd35">
																																							<p class="text-info ">
																																								سایت جاپ motekhases.com تنها وظیفة ایجاد ارتباط و معرفی افراد متخصص (ارائه دهندگان خدمت) و مشتریان ( دریافت کنندگان خدمت) را به عهده دارد و هرگونه بروز مشکل و خطا از سوی هر یک از طرفین پس از معرفی افراد به یکدیگر، مسئولیتی را متوجه وبسایت جاپ
																																								نمی‌کند. لذا در هنگام انتخاب فرد متخصص و یا مشتری مورد نظر، دقت لازم را حاصل نموده و تمامی تدابیر امنیتی را برای جلوگیری از بروز مشکل احتمالی پیش بینی نمایید.
																																							</p>
																																						</div>

																																					</div>

																																					<div class="list-group">

																																						<h3 class="list-group-item-heading text-center " style="    font-weight: 600;">حقوق مالکیت فکری

																																						</h3>
																																						<div class="list-group-item padd35">
																																							<p class="text-info ">
																																								تمام محتویات وبسایت جاپ از قبیل متون، گرافیک، تصاویر، علائم تجاری، لوگو، صدا، تصویر، قالب سایت، اسکریپت-هاو اسامی خدمات قابل ارائه و... متعلق به وب سایت جاپ motekhases.com می‌باشد و مشمول حمایت‌های مقرر در قوانین مالکیت فکری داخلی و بین‌المللی
																																								می‌باشد. همچنین هیچ یک از محتویات سایت جاپ قابل تولید مجدد، کپی برداری، فروش یا هر نحو سوء استفاده برای مقاصد تجاری و غیرتجاری نمی‌باشد. هرگونه استفاده بدون کسب مجوز کتبی حق پیگرد قانونی را برای وب سایت جاپ motekhases.com محفوظ می‌دارد.
																																							</div>

																																						</div>

																																						<div class="list-group">
																																							<h3 class="list-group-item-heading text-center " style="    font-weight: 600;">حل اختلاف

																																							</h3>
																																							<div class="list-group-item padd35">
																																								<div class="list-group-item padd35">
																																									<p class="text-info  padd35">
																																										این توافقنامه طبق قوانین و مقررات جمهوری اسلامی ایران تنظیم شده است. هر گونه اختلاف راجع به آن از جمله انعقاد، اعتبار، تفسیر، فسخ، نقض و اجرای آن برای داوری به شورای انتظامی سازمان نظام صنفی رایانه‌ای استان ارجاع می‌شود. نظر شورای انتظامی استان قطعی‌
																																										و لازم‌الاجراست. شرط داوری حاضر موافقتنامه‌ای مستقل از قرارداد اصلی تلقی می‌شود و در هر حال قابل اجراست.
																																									</p>
																																								</div>
																																							</div>

																																						</div>
																																						<div class="list-group">

																																							<div class="list-group-item padd35">
																																								<p class="text-info ">
																																									لازم به ذکر مجدد است، سایت جاپ motekhases.com تنها وظیفة ایجاد ارتباط و معرفی افراد متخصص (ارائه دهندگان خدمت) و مشتریان ( دریافت کنندگان خدمت) را به عهده دارد و هرگونه بروز مشکل و خطا از سوی هر یک از طرفین پس از معرفی افراد به یکدیگر، بر عهدة سایت	جاپ نمی باشد. لذا در هنگام انتخاب فرد متخصص و یا مشتری مورد نظر، دقت لازم را حاصل نموده و تمامی تدابیر امنیتی را برای جلوگیری از بروز مشکل احتمالی پیش بینی نمایید.
																																								</p>
																																							</div>
																																							<div class="list-group-item padd35">
																																								<p class="text-info ">
																																									با توجه به پاراگراف بالا، هرگونه ایجاد اختلاف از قبیل؛ قصور در انجام خدمات از سوی متخصصان (ارائه دهندگان خدمت)، عدم ایفای تعهدات مالی از سوی مشتریان (دریافت کنندگان خدمت) ، یا صدمه‌هایی که به دارایی‌های افراد وارد می‌شود و هرگونه خطا و اشتباه در
																																									تعاملات فی مابین افراد متخصص (ارائه دهندگان خدمت) و مشتریان ( دریافت کنندگان خدمت) بر عهدة سایت جاپ نبوده و مسئولیتی متوجه وبسایت جاپ نخواهد بود.
																																								</p>
																																							</div>
																																							<div class="list-group-item padd35">
																																								<p class="text-info ">
																																									از اینکه قوانین سایت را مطالعه کردید متشکریم؛ تمام تلاش وبسایت جاپ ایجاد بستری امن برای کاربران سایت می‌باشد، امیدواریم شما هم در راستای نیل به این هدف به ما کمک نمایید. هرگونه پرسشی یا پیشنهادی در مورد قوانین و مقررات سایت را میتوانید از طریق بخش
																																									پشتیبانی سایت به ما اطلاع دهید.
																																								</p>
																																							</div>
																																						</div>

																																					</div>
																																				</div>
																																			</div>
