<head><title>خدمات</title></head>


<navbar-sec></navbar-sec>
<div class="categories margi">

  <div class="task" id="home">
    <div class="gp-title persian para"><h1 class="gp-title">خدمات منزل</h1></div>
    <div class="subtasks row">
      <ul class="col-xs-12 col-md-4 persian">
        <li>مشاور املاک</li>
        <li>نصاب لوازم الکتریکی</li>
        <li>نصاب در و پنجره</li>
        <li>نصاب کاغذ دیواری</li>
        <li>نصاب کابینت</li>
        <li>نصاب میز بیلیارد</li>
        <li>نصاب دوربین</li>
      </ul>
      <ul class=" col-xs-12 col-md-4 persian">
        <li>باغبان</li>
        <li>برق‌کار</li>
        <li>فرش‌شوی</li>
        <li>لوله‌کش</li>
        <li>نجار</li>
        <li>نظافت‌چی</li>
        <li>نقاش ساختمان</li>
      </ul>
      <ul class="col-xs-12 col-md-4 persian" id="computer">
        <li>تعمیرکار سیستم تهویه</li>
        <li>تعمیرکار شوفاژ</li>
        <li>تعمیرکار لوازم برقی</li>
        <li>راه‌انداز و تعمیر ‌آسانسور</li>
        <li>حمل و نقل</li>
        <li>طراحی داخلی</li>
        <li>عایق‌کار</li>
      </ul>
    </div>
  </div>

  <div class="task" >
    <div class="gp-title persian para"><h1 class="gp-title">{{categories[1].category}}</h1></div>
    <div class="subtasks row">
      <ul class="col-xs-12 col-md-4 persian">
        <li ng-click="get_questions(pros[0]._id)"  data-toggle="modal" data-target="#myModal">مدرس انیمیشن</li>
        <li>مدرس برنامه‌نویسی وبسایت</li>
        <li>مدرس برنامه‌نویسی اپلیکیشن</li>
        <li>مدرس گرافیک</li>
        <li>مدرس طراح لوگو</li>
        <li>مدرس تایپ ده‌انگشتی</li>
      </ul>
      <ul class="col-xs-12 col-md-4 persian">
        <li>برنامه‌نویس وبسایت</li>
        <li>برنامه‌نویس اپلیکیشن</li>
        <li>برنامه‌نویس نرم‌افزار</li>
        <li>طراح UI/UX</li>
        <li>طراح لوگو</li>
        <li>نویسنده محتوای وبسایت</li>
      </ul>
      <ul class="col-xs-12 col-md-4 persian">
        <li>آنالیزور وبسایت</li>
        <li>انیمیشن‌ساز</li>
        <li>بازاریاب ایمیل</li>
        <li>بهینه‌ساز موتور جستجو</li>
        <li>تایپیست</li>
        <li>گرافیست</li>
      </ul>
    </div>
  </div>

  <div class="task">
    <div class="gp-title persian para"><h1 class="gp-title">زبان‌های خارجه</h1></div>
    <div class="subtasks row">
      <ul class="col-xs-12 col-md-4 persian">
        <li>مترجم زبان آلمانی</li>
        <li>مترجم زبان چینی</li>
        <li>مترجم زبان روسی</li>
        <li>مترجم زبان ژاپنی</li>
        <li>مترجم زبان فرانسه</li>
        <li>مترجم زبان عربی</li>
      </ul>
      <ul class="col-xs-12 col-md-4 persian">
        <li>مدرس زبان ژاپنی</li>
        <li>مدرس زبان فرانسه</li>
        <li>مدرس زبان عربی</li>
        <li>مترجم زبان انگلیسی</li>
        <li>مترجم زبان اسپانیایی</li>
        <li>مترجم زبان ایتالیایی</li>
      </ul>
      <ul class="col-xs-12 col-md-4 persian">
        <li>مدرس زبان انگلیسی</li>
        <li>مدرس زبان اسپانیایی</li>
        <li>مدرس زبان ایتالیایی</li>
        <li>مدرس زبان آلمانی</li>
        <li>مدرس زبان چینی</li>
        <li>مدرس زبان روسی</li>

      </ul>
    </div>
  </div>

  <div class="task">
    <div class="gp-title persian para"><h1 class="gp-title">ورزش و سلامت</h1></div>
    <div class="subtasks row">
      <ul class="col-xs-12 col-md-4 persian">
        <li>مربی TRX</li>
        <li>مشاور ازدواج</li>
        <li>مشاور خانواده</li>
        <li>مشاور فردی</li>
        <li>مشاور کودک</li>
        <li>مشاور ورزشی</li>
      </ul>

      <ul class="col-xs-12 col-md-4 persian">
        <li>مربی بیلیارد</li>
        <li>مربی پارکور</li>
        <li>مربی پیلاتس</li>
        <li>مربی تنیس</li>
        <li>مربی دفاع‌شخصی</li>
        <li>مربی یوگا</li>
      </ul>

      <ul class="col-xs-12 col-md-4 persian">
        <li>پرستار</li>
        <li>متخصص تغذیه</li>
        <li>مربی اسکی</li>
        <li>مربی اسکیت</li>
        <li>مربی ایروبیک</li>
        <li>مربی بدن‌سازی</li>
      </ul>
    </div>
  </div>

  <div class="task">
    <div class="gp-title persian para"><h1 class="gp-title">کسب و کار</h1></div>
    <div class="subtasks row">
      <ul class="col-xs-12 col-md-4 persian">
        <li>مشاور املاک</li>
        <li>مشاور کسب و کار</li>
        <li>نویسنده محتوا وبسایت</li>
        <li>وکیل</li>
      </ul>

      <ul class="col-xs-12 col-md-4 persian">
        <li>تایپیست</li>
        <li>حسابدار</li>
        <li>راننده</li>
        <li>طراح لوگو</li>
      </ul>

      <ul class="col-xs-12 col-md-4 persian">
        <li>آنالیزور وبسایت</li>
        <li>بازاریاب</li>
        <li>برنامه‌نویس وبسایت</li>
        <li>بهینه‌ساز موتور جستجو</li>
      </ul>
    </div>
  </div>

  <div class="task">
    <div class="gp-title persian para"><h1 class="gp-title">خدمات هنری</h1></div>
    <div class="subtasks row">
      <ul class="col-xs-12 col-md-4 persian">
        <li>مدرس سنتور</li>
        <li>مدرس سه‌تار</li>
        <li>مدرس کیبورد</li>
        <li>مدرس گیتار</li>
        <li>مدرس ویولن</li>
        <li>نوازنده پیانو</li>
        <li>نوازنده تار</li>
        <li>نوازنده تنبک</li>
        <li>نوازنده دف</li>
        <li>نوازنده سازهای بادی</li>
        <li>نوازنده سنتور</li>
        <li>نوازنده سه‌تار</li>
        <li>نوازنده کیبورد</li>
        <li>نوازنده گیتار</li>
        <li>نوازنده ویولن</li>
      </ul>
      <ul class="col-xs-12 col-md-4 persian">
        <li>مدرس آرایشگری</li>
        <li>مدرس آشپزی</li>
        <li>مدرس انیمیشن‌</li>
        <li>مدرس خطاطی</li>
        <li>مدرس خوانندگی</li>
        <li>مدرس خیاطی</li>
        <li>مدرس شیرینی‌پزی</li>
        <li>مدرس گرافیک</li>
        <li>مدرس عکاسی</li>
        <li>مدرس فیلمبرداری</li>
        <li>مدرس نقاشی</li>
        <li>مدرس پیانو</li>
        <li>مدرس تار</li>
        <li>مدرس تنبک</li>
        <li>مدرس دف</li>
        <li>مدرس سازهای بادی</li>
      </ul>
      <ul class="col-xs-12 col-md-4 persian">
        <li>آرایشگر</li>
        <li>آشپز</li>
        <li>انیمیشن‌ساز</li>
        <li>خطاط</li>
        <li>خواننده</li>
        <li>خیاط</li>
        <li>شیرینی‌پز</li>
        <li>گرافیست</li>
        <li>گل‌‌آرا</li>
        <li>عکاس</li>
        <li>فیلمبردار</li>
        <li>طراح داخلی</li>
        <li>طراح سفره عقد</li>
        <li>طراح لباس</li>
        <li>طراح لوگو</li>
        <li>نقاش</li>
      </ul>
    </div>
  </div>

  <div class="task">
    <div class="gp-title persian para"><h1 class="gp-title">خدمات آموزشی</h1></div>
    <div class="subtasks row">
      <ul class="col-xs-12 col-md-4 persian">
        <li>مدرس فیلمبرداری</li>
        <li>مدرس نقاشی</li>
        <li>مدرس پیانو</li>
        <li>مدرس تار</li>
        <li>مدرس تنبک</li>
        <li>مدرس دف</li>
        <li>مدرس سازهای بادی</li>
        <li>مدرس سنتور</li>
        <li>مدرس سه‌تار</li>
        <li>مدرس کیبورد</li>
        <li>مدرس گیتار</li>
        <li>مدرس ویولن</li>
        <li>مشاور تحصیلی</li>
      </ul>

      <ul class="col-xs-12 col-md-4 persian">
        <li>مدرس برنامه نویسی اپلیکیشن</li>
        <li>مدرس گرافیک</li>
        <li>مدرس طراحی لوگو</li>
        <li>مدرس تایپ ده‌انگشتی</li>
        <li>مدرس آرایشگری</li>
        <li>مدرس آشپزی</li>
        <li>مدرس انیمیشن‌</li>
        <li>مدرس خطاطی</li>
        <li>مدرس خوانندگی</li>
        <li>مدرس خیاطی</li>
        <li>مدرس شیرینی‌پزی</li>
        <li>مدرس گرافیک</li>
        <li>مدرس عکاسی</li>
      </ul>

      <ul class="col-xs-12 col-md-4 persian">
        <li>دبیر دروس کنکور</li>
        <li>دبیر دروس پیش‌دانشگاهی</li>
        <li>دبیر دروس دبیرستان</li>
        <li>دبیر دروس ابتدایی</li>
        <li>مدرس زبان انگلیسی</li>
        <li>مدرس زبان اسپانیایی</li>
        <li>مدرس زبان ایتالیایی</li>
        <li>مدرس زبان ایتالیایی</li>
        <li>مدرس زبان چینی</li>
        <li>مدرس زبان روسی</li>
        <li>مدرس زبان ژاپنی</li>
        <li>مدرس زبان فرانسه</li>
        <li>مدرس زبان عربی</li>
      </ul>
    </div>
  </div>

  <div class="last-task">
    <div class="gp-title persian para"><h1 class="gp-title">سایر</h1></div>
    <div class="subtasks row">
      <ul class="col-xs-12 col-md-4 persian">
        <li>معمار</li>
        <li>مکانیک</li>
        <li>نجار</li>
        <li>وکیل</li>
      </ul>
      <ul class="col-xs-12 col-md-4 persian">
        <li>مشاور تحصیلی</li>
        <li>مشاور خانواده</li>
        <li>مشاور فردی</li>
        <li>مشاور کودک</li>
        <li>مشاور ورزشی</li>
      </ul>

      <ul class="col-xs-12 col-md-4 persian">
        <li>آشپز</li>
        <li>پرستار</li>
        <li>خیاط</li>
        <li>راننده</li>
        <li>مشاور ازدواج</li>
      </ul>
    </div>
  </div>

</div>
<pagefooter class="visible-lg visible-xs"></pagefooter>
<footer class="panel-footer visible-md visible-sm" style="
    margin-top: 41%;">
  <div class="container-fluid">
    <div class="row">
      <div class="col-xs-offset-3 col-md-offset-1 col-xs-4 col-md-2">
        <a class="btn-link persian grey" >تماس با ما</a>
      </div>
      <div class="col-xs-3">
        <a class="btn-link persian grey" ui-sref="aboutus" >درباره ما</a>
      </div>

      <!--<div class=" col-md-6 col-xs-12 "><img class="img-responsive center-block imglimit" src="../app/images/links.png"></div>-->
      <!--<div class=" col-md-6 col-xs-12 "><img class="img-responsive center-block imglimit" src="../app/images/telegram.png" style="width: 4%;"></div>-->

      <div class=" col-md-6 col-xs-12 " style="float: right; margin-top:5px;">
        <ul style="padding:0; margin:0 0 0 10px;">
          <li><a href="https://telegram.me/motekhases_team" target="_blank"><img class="img-responsive center-block imglimit" src="./images/telegram.png" style="width: 4%; float:right; list-style:none; margin-left:3px;"></a></li>
          <li><a href="https://www.instagram.com/motekhases.team" target="_blank"><img class="img-responsive center-block imglimit" src="./images/instagram.png" style="width: 4%; float: right;list-style:none; margin-left:3px;"></a></li>
          <li><a href="https://twitter.com/motekhases_team" target="_blank"><img class="img-responsive center-block imglimit" src="./images/twitter.png" style="width: 4%; float:right; list-style:none; margin-left:3px;"></a></li>
          <li><img class="img-responsive center-block imglimit" src="./images/linkedin.png" style="width: 4%; float: right; list-style:none; margin-left:3px;"></li>
          <li><a href="https://www.aparat.com/motekhases.com" target="_blank"><img class="img-responsive center-block imglimit" src="./images/aparat.png" style="width: 5%; float: right; list-style:none; margin-left:3px;"></a></li>
        </ul>
      </div>
      <div class="col-xs-12">
        <img src="./images/adamlogoo.png" class="footerlogo visible-lg visible-md">
        <p class="persian grey margin align">تمامی حقوق متعلق به متخصص دات کام می باشد</p>
      </div>
    </div>
  </div>
</footer>
<div class="modal fade " id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content" ng-style="back">
      <div class="modal-header" style="border: none;background-color: rgb(16, 114, 183);" >
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <img class="center-block" ng-show="!started" src="./images/logowhiteW.png" alt="First slide" style="max-width: 250px">
        <h4 class="persian modalHead" dir="rtl" ng-show="started" >{{head}}</h4>
      </div>
      <div class="modal-body">
        <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel" data-interval="false" >
          <ol class="carousel-indicators" id="sec" ng-show="started" style="top: -111px;
    left: 4%;">
            <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
            <li data-target="#carouselExampleIndicators" ng-repeat="q in questions" data-slide-to="{{$index+1}}" ></li>
            <!--<li data-target="#carouselExampleIndicators" data-slide-to="2"></li>-->
          </ol>
          <div class="carousel-inner" role="listbox">
            <div class="item active" style="padding: 81px">
              <p class="persian pWp" style="  color: white;
  font-size: 28px;
  text-align: center;
  font-weight: 600;">برای آنکه بتوانیم بهترین افراد متخصص را به شما معرفی کنیم، ابتدا نیاز هست که به چند سوال کوتاه پاسخ دهید </p>
            </div>
            <div class="item" ng-repeat="q in questions">
              <div class="row">
                <div class="col-xs-12" ng-repeat="opt in q.options" style="margin-bottom: 4%">
                  <label class="check pull-right" ng-if="q.type == 'multi'">
                    <input ng-click="checkAnswers(opt,q._id)" type="checkbox">
                    <div class="box"></div>
                  </label>
                  <label class="check pull-right" ng-if="q.type == 'single'">
                    <input ng-click="checkAnswers(opt,q._id)" type="checkbox">
                    <!--<div class="box"></div>-->
                  </label>
                  <span class="persian pull-right" dir="rtl" style="display: inline;margin-right: 4%;font-size: 16px; margin-top:1%">{{opt}}</span>
                </div>
              </div>
              <button type="button" ng-click="sendAnswers()" ng-if="$index == questions.length-1" class="active" >submit</button>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer" style="border: none">
        <!--<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>-->
        <button type="button" class="btn btn-primary center-block right persian" ng-show="!started" ng-click="start()" href="#carouselExampleIndicators" data-slide="next" style="    background-color: white;
    color: black;
    padding: 13px 51px;
    border-radius: 15px;">شروع</button>
        <div class="row" ng-show="started">
          <!--<button class="btn btn-default right " href="#carouselExampleIndicators" data-slide="next">next</button>-->
          <!--<button class="btn btn-default left " href="#carouselExampleIndicators" data-slide="prev">next</button>-->
          <a class="left " href="#carouselExampleIndicators" data-slide="prev" ng-click="prevHead()" style="margin-right: 85%">
            <span class="glyphicon glyphicon-chevron-left" style="color: #1072b7; font-size: 30px"></span>
            <span class="sr-only">Previous</span>
          </a>
          <a class="right " href="#carouselExampleIndicators" data-slide="next" ng-click="nextHead()" style="margin-right: 2%">
            <span class="glyphicon glyphicon-chevron-right" style="color: #1072b7; font-size: 30px"></span>
            <span class="sr-only">Next</span>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
