@import 'variables'

.c-btn
	padding .25rem 1.2rem
	min-width 9rem
	border none
	border-radius 4px
	font-weight 900
	font-size 1.2rem

	&
	&:focus
		outline 0

	&:focus
		box-shadow 0 0 1px 3px rgb(119, 187, 255)
  
	&--white
		color $color
		background-color #fff