@import 'variables'

.jr_container
.jr_overlay
	left 0

.jr_target
	overflow initial !important

.jr_content
	line-height 1.8
	font-weight 100
	color #000
	white-space normal
	text-align initial

.jr_title
	font-weight 700
	text-align initial
	
.jr_button
	&:hover
	&:focus
		text-decoration none
		background-color $color
		color #fff
		
.jr_target
	&#intro-3
	&.thumb-info
		background-color #fff
	
	&.c-nav__link:before
		content none

	&.c-nav__link
		background-color $color
