@import 'variables'

.proficients
	// Hero section
	&__hero
		background-color $color
		min-height 15rem

	&__content
		padding-top 4rem

	&__heading
		padding-top 6rem

	&__desc
		color $color
		font-size 1rem