// Colors
$color = #1e87f0

$black1 = #424242
$black2 = #616161
$black3 = #757575

// Icons
icomoon-font-path ?= "../fonts/icon"

icon-calendar = "\e900"
icon-refresh = "\e901"
icon-money = "\e902"
icon-cancel = "\e903"
icon-hand-shake = "\e904"
icon-person = "\e905"
icon-msg = "\e906"
icon-check = "\e907"
icon-people = "\e908"
icon-list = "\e909"
icon-circle = "\e90a"
icon-arrow-right = "\e90b"
icon-arrow-left = "\e90c"
icon-educate = "\e90d"
icon-computer = "\e90e"
icon-house = "\e90f"
icon-art = "\e910"
icon-lang = "\e911"
icon-other = "\e912"
icon-tech = "\e913"
icon-job = "\e914"
icon-sport = "\e915"


// Responsive Resolutions
$xl = 1200px
$lg = 992px
$md = 768px
$sm = 576px
$xs = 480px

// @slider
$slider = '../images/hero/'

// @hero
$heroHeight 				= 100vh
$heroContactHeight 	= 55vh
